@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
/*******************************
MIDRUB ELEMENTS STYLES
********************************/
.notification {
  text-align: left;
  color: #ffffff;
  -webkit-box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02);
  -moz-box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02);
  box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02); }
  .notification .notification-error {
    padding: 1.3rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #eb6276; }
  .notification .notification-success {
    padding: 1.3rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #4bc5ab; }
  .notification i {
    font-size: 18px;
    margin-right: 10px; }

body {
  background-color: #f8f9fc; }

/*******************************
PAYMENTS APP STYLES
********************************/
.container {
  font-family: 'Montserrat', sans-serif; }
  .container > .payment-container {
    margin-top: 100px;
    padding: 45px 30px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 3px; }
    .container > .payment-container h3 {
      text-align: center;
      line-height: 50px;
      margin-bottom: 40px; }
    .container > .payment-container .input-group.w-25 {
      margin-right: 15px;
      width: 25% !important;
      float: left; }
    .container > .payment-container label {
      padding-bottom: 5px;
      font-size: 13px; }
      .container > .payment-container label.subscribe {
        display: block;
        margin-right: -15px;
        padding-top: 3px;
        text-align: right; }
    .container > .payment-container input,
    .container > .payment-container .form-control {
      width: 100%;
      background-color: #fff;
      border: none;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      color: #172b4d;
      box-sizing: border-box;
      -webkit-appearance: none;
      border-radius: 3px;
      display: block;
      line-height: 35px;
      margin-bottom: 22px;
      padding: 8px 12px;
      transition-property: border-color,box-shadow;
      transition-duration: 85ms;
      transition-timing-function: ease;
      border: none;
      box-shadow: inset 0 0 0 2px #dfe1e6; }
      .container > .payment-container input:focus,
      .container > .payment-container .form-control:focus {
        outline: none;
        box-shadow: inset 0 0 0 2px #0f9a8b; }
    .container > .payment-container #number.braintree-hosted-fields-focused,
    .container > .payment-container #cvv.braintree-hosted-fields-focused,
    .container > .payment-container #date.braintree-hosted-fields-focused {
      outline: none;
      box-shadow: inset 0 0 0 2px #0f9a8b; }
    .container > .payment-container #number.braintree-hosted-fields-invalid,
    .container > .payment-container #cvv.braintree-hosted-fields-invalid,
    .container > .payment-container #date.braintree-hosted-fields-invalid {
      color: #ea6759; }
    .container > .payment-container #number.braintree-hosted-fields-valid,
    .container > .payment-container #cvv.braintree-hosted-fields-valid,
    .container > .payment-container #date.braintree-hosted-fields-valid {
      color: #2e5f9b; }
    .container > .payment-container .form-control {
      height: 51px; }
    .container > .payment-container .checkbox-option {
      margin-top: -15px;
      width: 100%;
      text-align: right; }
      .container > .payment-container .checkbox-option input[type=checkbox] {
        display: none; }
      .container > .payment-container .checkbox-option label {
        cursor: pointer;
        position: relative;
        width: 50px;
        margin-right: 15px;
        margin-top: 20px; }
      .container > .payment-container .checkbox-option label::before {
        position: absolute;
        content: '';
        margin-left: -45px;
        margin-top: -6px;
        border-radius: 8px;
        height: 21px;
        width: 50px;
        opacity: 0.3;
        background-color: #ced8dc;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease-in-out; }
      .container > .payment-container .checkbox-option label::after {
        position: absolute;
        content: '';
        margin-top: -9px;
        border-radius: 16px;
        width: 35px;
        height: 35px;
        left: -4px;
        top: -4px;
        background-color: #c1c7cd;
        transition: all 0.3s ease-in-out; }
      .container > .payment-container .checkbox-option input[type=checkbox]:checked + label::after {
        left: 40px;
        background-color: #f7c48c;
        box-shadow: none; }
    .container > .payment-container #paypal-button-container {
      padding-top: 30px; }

/*# sourceMappingURL=styles.css.map */
