/*******************************
IMPORT DEPENDENCIES
********************************/
/*******************************
DEFAULT GLOBAL COLORS
********************************/
/*******************************
IMPORT FONTS
********************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Open+Sans:wght@300;400;600&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,500;1,700&family=Inter:wght@200;300;400;500;600&display=swap");
/*******************************
DEFAULT GLOBAL FONTS
********************************/
/*******************************
TRANSACTIONS WIDGET STYLES
********************************/
.dashboard-widget-transactions-list {
  margin: 0;
  padding: 0; }
  .dashboard-widget-transactions-list li {
    margin: 0 0 10px !important;
    padding: 5px 10px !important;
    border: 0 !important;
    list-style: none !important; }
    .dashboard-widget-transactions-list li:last-child {
      margin-bottom: 0; }
    .dashboard-widget-transactions-list li a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      color: #292F4C; }
      .dashboard-widget-transactions-list li a:hover, .dashboard-widget-transactions-list li a:active, .dashboard-widget-transactions-list li a:focus {
        text-decoration: none; }
    .dashboard-widget-transactions-list li .dashboard-widget-transactions-transaction-time {
      text-transform: uppercase;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #698BF5; }
      .dashboard-widget-transactions-list li .dashboard-widget-transactions-transaction-time svg {
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 5px;
        width: 20px;
        height: 20px; }
    .dashboard-widget-transactions-list li .badge {
      min-width: 74.78px;
      line-height: 14px;
      font-size: 11px !important; }
    .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-complete {
      background-color: #F7F8FF !important; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-complete a {
        border-bottom: 1px solid #F7F8FF;
        color: #292F4C; }
        .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-complete a:hover, .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-complete a:active, .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-complete a:focus {
          border-bottom: 1px solid #292F4C; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-complete .dashboard-widget-transactions-transaction-time {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        color: #698BF5 !important; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-complete .badge {
        color: #FFFFFF !important; }
    .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-incomplete {
      background-color: #fafbfd !important; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-incomplete a {
        border-bottom: 1px solid #fafbfd;
        color: #292F4C; }
        .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-incomplete a:hover, .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-incomplete a:active, .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-incomplete a:focus {
          border-bottom: 1px solid #292F4C; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-incomplete .dashboard-widget-transactions-transaction-time {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        color: #292F4C !important; }
    .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-failed {
      background-color: #FFF5F8 !important; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-failed a {
        border-bottom: 1px solid #FFF5F8;
        color: #AE586C; }
        .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-failed a:hover, .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-failed a:active, .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-failed a:focus {
          border-bottom: 1px solid #AE586C; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-failed .dashboard-widget-transactions-transaction-time {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        color: #AE586C !important; }
      .dashboard-widget-transactions-list li.dashboard-widget-transactions-transaction-failed .badge {
        color: #FFFFFF !important; }

/*# sourceMappingURL=transactions.css.map */
