/*******************************
DEFAULT AREA FIELD MIXING
********************************/

@mixin default-area-field {

    & {
        padding: 10px 10px;
        border: 2px solid #f5f6fa;
        border-radius: 4px;

        &:focus {
            border: 2px solid #f5f6fa;
            box-shadow: none;
            outline: none;
        }
        
        label {
            display: inline-block;
            margin-bottom: .5rem;
            font-family: $default-font-1;
            font-size: 14px;
            color: $default-color-black;

            i {
                font-size: 13px;
            }

        }

        .text-muted {
            margin-top: 5px;
            font-family: $default-font-4;
            font-size: 13px;
            font-weight: 400;
            color: $default-color-grey !important;

            i {
                vertical-align: text-bottom;
                font-size: 16px;
            }

        }

    }

}