/*******************************
DEFAULT BOX OPTION MIXING
********************************/

@mixin default-box-option-1 {

    & {
        margin-bottom: 15px;
        padding: 10px;
        height: 40px;
        background-color: $default-color-grey-light;

        h4 {
            margin: 0;
            padding: 0;
            line-height: 21px;
            font-size: 14px;
            font-weight: 400;
            font-size: 14px;
        }

        .theme-checkbox-input-2 {

            label {
                cursor: pointer;
                position: relative;
                vertical-align: middle;
                display: inline-block !important;
                margin: -14px 0 0;
                width: 40px;
            }

        }  

    }

}