/*******************************
THEME GLOBAL COLORS
********************************/
$default-color-black: #344564;
$default-color-black-light: #404756;
$default-color-green: #00C6BC;
$default-color-green-light: #e5faf6;
$default-color-red: #AE586C;
$default-color-red-light: #FFF5FE;
$default-color-blue: #2E92FA;
$default-color-blue-light: #F0FAFF;
$default-color-yellow: #F9F871;
$default-color-grey: #8F9EC2;
$default-color-grey-light: #F4F9FF;
$default-color-violet: #736691;
$default-color-violet-light: #FCF7FF;
$default-color-new: #52567C;
$default-background-color: #f7f9fc;
$default-sidebar-menu-background-color: #fafafc;
$default-sidebar-menu-background-active-color: #eef1f7;
$default-border-color: #dde3ee;
$default-input-border-color: #dee2ed;
$default-dropdown-menu-border-color: #ebf4ff;
$default-dashboard-border-color: #e8edf5;