/*******************************
DEFAULT NAME COVERS MIXING
********************************/

@mixin theme-name-cover {

    &.theme-name-cover-a {
        color: #344564;
        background-color: #F4F9FF;                                    
    }

    &.theme-name-cover-b {
        color: #344564;
        background-color: #F2FEDC;                                    
    }

    &.theme-name-cover-c {
        color: #344564;
        background-color: #FFF5FE;                                    
    }

    &.theme-name-cover-d {
        color: #344564;
        background-color: #FFF8E6;                                    
    } 
    
    &.theme-name-cover-e {
        color: #344564;
        background-color: #FFEECB;                                    
    }
    
    &.theme-name-cover-f {
        color: #344564;
        background-color: #FFF3F7;                                    
    } 
    
    &.theme-name-cover-g {
        color: #344564;
        background-color: #FFF7D6;                                    
    } 

    &.theme-name-cover-h {
        color: #344564;
        background-color: #F1F1E6;                                    
    } 
    
    &.theme-name-cover-i {
        color: #344564;
        background-color: #E5FFFC;                                    
    } 

    &.theme-name-cover-j {
        color: #344564;
        background-color: #FAF8FF;                                    
    } 
    
    &.theme-name-cover-k {
        color: #344564;
        background-color: #FFF4FF;                                    
    } 

    &.theme-name-cover-l {
        color: #344564;
        background-color: #F4FAFF;                                    
    } 

    &.theme-name-cover-m {
        color: #344564;
        background-color: #EEFBFF;                                    
    }  
    
    &.theme-name-cover-n {
        color: #344564;
        background-color: #FEFEDF;                                    
    }
    
    &.theme-name-cover-o {
        color: #344564;
        background-color: #FFF5FF;                                    
    }  
    
    &.theme-name-cover-p {
        color: #344564;
        background-color: #E2EEE8;                                    
    } 
    
    &.theme-name-cover-q {
        color: #344564;
        background-color: #FFF6F5;                                    
    } 

    &.theme-name-cover-r {
        color: #344564;
        background-color: #F8F8FF;                                    
    }
    
    &.theme-name-cover-s {
        color: #344564;
        background-color: #FFE3EC;                                    
    }   
    
    &.theme-name-cover-t {
        color: #344564;
        background-color: #F2F9FF;                                    
    } 
    
    &.theme-name-cover-u {
        color: #344564;
        background-color: #E9FEF7;                                    
    }  
    
    &.theme-name-cover-v {
        color: #344564;
        background-color: #EBEAF5;                                    
    } 
    
    &.theme-name-cover-w {
        color: #344564;
        background-color: #F5F9FF;                                    
    }  
    
    &.theme-name-cover-x {
        color: #344564;
        background-color: #C9F7FF;                                    
    }
    
    &.theme-name-cover-y {
        color: #344564;
        background-color: #E4FFFE;                                    
    } 
    
    &.theme-name-cover-z {
        color: #344564;
        background-color: #F5F9FF;                                    
    } 

}