/*******************************
SCROLLBAR GLOBAL COLORS
********************************/
$default-color-scrollbar-1-track: #F9FAFC;
$default-color-scrollbar-1-thumb: #dee2ea;

/*******************************
DEFAULT MIXING FOR SCROLLING
********************************/

@mixin default-scrollbar-1 {
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        border: 3px solid transparent;
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        border: 3px solid transparent;
        border-radius: 6px;
        background-color: $default-color-scrollbar-1-track;
        -webkit-transition: background-color 0.7s linear;
        transition: background-color 0.7s linear;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: $default-color-scrollbar-1-thumb;
        -webkit-transition: background-color 0.7s linear;
        transition: background-color 0.7s linear;
    }

}