/*******************************
IMPORT FONTS
********************************/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
$open-sans: 'Open Sans', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
$primary-black: #212529;
$primary-green: #00a28a;
$primary-red: #ea6759;
$primary-blue: #59abfd;
$primary-yellow: #f7c46c;
$primary-border-black: rgba(187,201,213,.6);
$primary-shadow-black: 0 1px 1px rgba(0,0,0,.05);

/*******************************
MIDRUB ELEMENTS STYLES
********************************/
@mixin content-shadow() {
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

@mixin opacity-animations($duration) {
    -webkit-animation: loadingOpacity $duration;
    animation: loadingOpacity $duration;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
        
}

@mixin checkbox-option-select() {
    
    .checkbox-option-select {

        input[type="checkbox"]:not(:checked),
        input[type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
        }
        
        input[type="checkbox"]:not(:checked) + label,
        input[type="checkbox"]:checked + label {
            position: relative;
            padding-left: 1.95em;
            cursor: pointer;
        }

        input[type="checkbox"]:not(:checked) + label:before,
        input[type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            border-radius: 4px;
        }
        
        input[type="checkbox"]:not(:checked) + label:after,
        input[type="checkbox"]:checked + label:after {
            content: '\2713\0020';
            position: absolute;
            top: 0.08em;
            left: .25em;
            font-size: 1.3em;
            line-height: 0.8;
            color: #000031;
            transition: all .2s;
        }
        
        input[type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }
        
        input[type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
        
        input[type="checkbox"]:disabled:not(:checked) + label:before,
        input[type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
        }
        
        input[type="checkbox"]:disabled:checked + label:after {
            color: #999;
        }
        
        input[type="checkbox"]:disabled + label {
            color: #aaa;
        }

    }
        
}

@mixin dropdown-select() {
    
    .btn-secondary.dropdown-toggle {
        display: inline-block;
        width: auto;
        background-color: #f5f9fd;
        color: #6c757d;
        line-height: 23px;
        padding: 7px 15px 6px;
        font-weight: 400;
        border-radius: .25rem;
        /* margin-right: 15px; */
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
        border: 1px solid #cdcde6;
        
        &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 10px;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
        
        &:hover {
            opacity: 0.7;
        }

    }
    
    .dropdown-menu {
        width: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.10);
        box-shadow: none;
        border-radius: .25rem;

        .card {
            border: 0;
            right: 0;
            left: inherit;

            .card-head {

                input[type="text"] {
                    border: 0 !important;
                    border-bottom: solid 1px #e9eaeb !important;
                    height: 45px;
                    width: 100%;
                    padding: 10px;
                    font-size: 15px;
                    margin-bottom: 0;
                    box-shadow: none !important;

                    &:focus,
                    &:active {
                        height: 45px;
                        width: 100%;
                        padding: 10px;                        
                    }

                }
                
            }
            
            .card-body {
                padding: 0;
                
                .list-group {
                    margin: 0;
                    
                    li {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        line-height: 35px;
                        font-family: "Open Sans", sans-serif;
                        font-size: 14px;

                        &.no-results-found {
                            padding: 0 10px;
                        }
                        
                        img {
                            max-width: 20px;
                            margin-right: 15px;
                            border-radius: 50%;
                        }
                        
                        input[type="checkbox"] {
                            float: right;
                            margin-top: 7px;
                            margin-right: 10px;
                            
                            &:after{
                                line-height: 1.5em;
                                content: '';
                                display: inline-block;
                                width: 22px;
                                height: 22px;
                                margin-top: -1px;
                                margin-left: -4px;
                                border: 1px solid silver;
                                border-radius: 0.25em;
                                background: #f9f9f9;
                                position: absolute;
                            }

                            &:checked:after {
                                content: '\2713\0020';
                                padding-left: 3px;
                                padding-top: 2px;
                                font-size: 1.3em;
                                line-height: 0.8;
                                color: #346cb0;
                                transition: all .2s;
                            }
                            
                        }
                        
                    }
                    
                }
                
            }
            
            &:first-child {
                
                .card-body {

                    .card-title {
                        border-top: 0;
                    }
                    
                }
                
            }
            
        }
        
        a {
            margin: 0;
            padding: 0 10px;
            font-size: 14px;
            line-height: 40px;
            display: block;
            width: 100%;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            
            &:hover {
                text-decoration: none;
                background-color: #F5F5F5;
            }
            
        }
        
    }
        
}

/*******************************
GENERAL STYLES
********************************/
.btn {

    &.btn-info {
        background-color: $primary-blue !important;
        border-color: $primary-blue !important;
    }
    
    &.btn-danger {
        background-color: $primary-red !important;
        border-color: $primary-red !important;
    }    
    
    &:hover {
        opacity: 0.8;
    }

}

.font-weight-bold {
    font-weight: 600;
}

.pagination {
    margin: 5px 5px 0;
    border: 1px solid #E1E8F0;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.02);
    box-shadow: 0 2px 2px rgba(0,0,0,0.02);
    
    li {
        
        a,
        span {
            border: 0;
        }
        
        &.active {
            
            a {
                background-color: #f8fafb !important;
            }
            
        }
        
    } 
    
}

.page-loading {
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
        
    .loading-animation-area {
        width: 100%;
        height: 100%;
        position: relative;

        .loading-center-absolute {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 200px;
            width: 200px;
            margin-top: -100px;
            margin-left: -100px;
            
            .object{
                -moz-border-radius: 50% 50% 50% 50%;
                -webkit-border-radius: 50% 50% 50% 50%;
                border-radius: 50% 50% 50% 50%;
                position: absolute;
                border-left: 5px solid #FFF;
                border-right: 5px solid #FFF;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                -webkit-animation: loading 2s infinite;
                animation: loading 2s infinite;

                &.object_one {
                    left: 75px;
                    top: 75px;
                    width: 50px;
                    height: 50px;
                }

                &.object_two {
                    left: 65px;
                    top: 65px;
                    width: 70px;
                    height: 70px;
                    -webkit-animation-delay: 0.1s;
                    animation-delay: 0.1s;
                }

                &.object_three {
                    left: 55px;
                    top: 55px;
                    width: 90px;
                    height: 90px;
                    -webkit-animation-delay: 0.2s;
                    animation-delay: 0.2s;
                }

                &.object_four {
                    left: 45px;
                    top: 45px;
                    width: 110px;
                    height: 110px;
                    -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;

                }

            }
            
        }

    }
        
}

body {
    background-color: #f5f7fa;
}

/*******************************
TICKETS STYLES
********************************/
section {
    font-family: 'Nunito Sans', sans-serif;

    .new-faq-article,
    .single-faq-article {
        padding-top: 15px;
        
        & > form > .row > .col-lg-3 {
            
            & > div {
                margin: 0;
                
                & > div {
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
                    box-shadow: 0 1px 1px rgba(0,0,0,.05);
                    background-color: rgb(245, 247, 249);
                    background-color: #FFFFFF;
                    min-height: 300px;
                    
                    select {
                        margin: 15px 0;
                        height: 38px;
                        border: 0;
                        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
                        box-shadow: 0 1px 1px rgba(0,0,0,.05);
                        border: 0 !important;
                    }
                    
                    hr {
                        margin: 0;
                        border-top: 1px solid #d8e0e0;
                    }
                    
                    .save-article {
                        text-align: center;
                        background-color: #0f96e6;
                        color: #FFFFFF;
                        border-color: #0f96e6;
                        width: 100%;
                        text-decoration: none;
                        font-size: 13px;
                        box-shadow: inset 0 32px 0 rgba(0, 0, 0, 0);
                        height: 36px;
                        padding: 0 12px;
                        overflow: hidden;
                        line-height: 36px;
                        border-radius: 4px;
                        margin: 15px 0;

                        i {
                            float: left;
                            margin-top: 12px;
                        }
                
                    }
                    
                    .categories-list {
                        padding: 15px;

                        .panel {
                            border-radius: 3px;
                            box-shadow: 0 5px 2px -5px rgba(0, 0, 0, 0.06);
                            border: solid 1px #eef0ef;
                            background-color: transparent;

                            .panel-heading {
                                margin: 0;
                                line-height: 40px;
                                background-color: transparent;
                                border-bottom: solid 1px #eef0ef;

                                .btn {
                                    padding: 0;
                                    border: 0;
                                    background-color: transparent;

                                    i {
                                        font-size: 19px;
                                        color: #615f5c !important;
                                    }

                                    &:hover {
                                        opacity: 0.7;
                                    }

                                }

                            }

                            .panel-body {
                                padding: 15px 30px;
                            }

                        }

                        .list-group {

                            .list-group-item {
                                background-color: transparent;
                                border: 0;
                                padding: 0;

                                .col-lg-12 {
                                    margin: 0 0 15px;
                                    padding: 7px 10px;
                                    border-radius: 3px;
                                    line-height: 30px;
                                    font-weight: 400;
                                    font-size: 14px;
                                    background-color: #ffffff;
                                    box-shadow: 0 1px 2px 0 #ced9e0;

                                    @include checkbox-option-select();

                                    .checkbox-option-select {
                                        padding: 0;
                                        display: inline-block;
                                        margin-right: 15px;
                        
                                        label {
                        
                                            &::before {
                                                margin-top: -11px;
                                                border: 1px solid #cdcde6;
                                                background-color: #f5f9fd;
                                            }
                        
                                            &::after {
                                                margin-top: -7px;
                                            }                                        
                        
                                        }
                        
                                    }

                                    .btn-danger {
                                        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
                                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
                                        color: #6c757d;
                                        height: 25px;
                                        font-size: 12px;
                                        line-height: 16px;
                                        padding: 5px 7px;
                                        margin-top: -3px;
                                        float: right;
                                        background-color: #FFFFFF !important;
                                        border: 1px solid #dddddd !important;

                                        &:hover {
                                            color: #333333;
                                            border: 1px solid #333333 !important;
                                        }

                                    }

                                }

                                .list-group {
                                    margin-left: 30px;
                                    margin-bottom: 0;
                                    width: calc(100% - 30px);
                                }

                            }

                        }

                    }
                    
                }
                
            }
            
        }
        
        & > form > .row > .col-lg-7 {
            padding: 0;
            
            @media only screen and (max-width: 1199px) {
                
                & {
                    padding: 0 15px;
                }
                
            }
            
            .nav-tabs {
                margin-bottom: 20px;
                border-bottom: 1px solid $primary-border-black;
                height: 40.4px;
                
                li {
                    display: inline-table;
                    
                    a {
                        border-radius: 0;
                        padding: 10px 20px;
                        border: 0;
                        color: $primary-black;
                        background-color: transparent;
                    }
                    
                    &.active {
                        
                        a {
                            background-color: #FFFFFF;
                        }
                        
                    }
                    
                }
                
            }

            .note-editor.note-frame .note-editing-area {
                border-radius: 3px;
                min-height: 500px;
                background-color: #fff;
                overflow: hidden;
                -webkit-box-shadow: $primary-shadow-black;
                box-shadow: $primary-shadow-black;  
                
            }
            
            .panel-heading {
                padding: 5px 10px 10px;
                margin: 0;
                background-color: #ffffff;

                .btn {
                    box-shadow: 0px 1px 0px rgba(0,0,0,0.07);
                    line-height: 21px;
                    border: 0;
                }

            }
            
            .note-editor.note-frame {
                border: 0 !important;

                .note-toolbar {
                    position: initial;
                    z-index: 1;
                }

            }
            
            .note-statusbar {
                display: none;
            }

            .note-editor.note-frame .note-status-output:empty {
                display: none;
            }
            
            .note-statusbar {
                display: none;
            }
            
            input[type="text"] {
                height: 50px;
                margin-bottom: 20px;
                font-size: 15px;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
                box-shadow: 0 1px 1px rgba(0,0,0,.05);
                border: 0;
                
                &:focus,
                &:active {
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
                    box-shadow: 0 1px 1px rgba(0,0,0,.05);
                    border: 0 !important;
                }
                
            }
            
        }
        
    }
    
}

/*******************************
MODAL STYLES
********************************/
#categories-popup-manager {

    .modal-content {
        border-radius: 0;

        .modal-header {
            padding: 0;
            border-bottom: 1px solid #e3eaef;

            .close {
                margin: 15px;
                font-size: 30px;
                padding: 0;
                min-width: auto;
            }

            h3 {
                color: #212529;
                font-size: 16px;
                padding: 0 15px;
                border-color: transparent;
            }

        }

        .modal-body {
            height: 500px;
            overflow-y: scroll;
            background-color: #f5f7fa;

            @include checkbox-option-select();

            .checkbox-option-select {
                padding: 0;
                display: inline-block;
                margin-right: 10px;

                label {

                    &::before {
                        margin-top: -6px;
                        border: 1px solid #cdcde6;
                        background-color: #f5f9fd;
                    }                                       

                }

            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px #f5f7fa;
                background-color: #F5F5F5;
            }
            
            &::-webkit-scrollbar {
                width: 7px;
                background-color: #615f5c;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #1a1a46;
                border: 1px solid #F5F5F5;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    padding: 0;
                    margin: 10px 0;
                    border: none;
                    background-color: transparent;
                    list-style: none;

                    &.no-results-found {
                        margin: 0;
                        border-radius: 3px;
                        border: 0;
                        line-height: 30px;
                        font-weight: 400;
                        font-size: 14px;
                        background-color: #ffffff;
                        box-shadow: 0 1px 2px 0 #ced9e0;                        
                    }

                    ul {
                        margin: 0 0 0 15px;
                        padding-left: 15px;
                    }
                    
                    & > .row {
                        margin: 0;
                        border-radius: 3px;
                        line-height: 30px;
                        font-weight: 400;
                        font-size: 14px;
                        background-color: #ffffff;
                        box-shadow: 0 1px 2px 0 #ced9e0;

                        h3 {
                            margin: 0;
                            padding: 0;
                            font-size: 15px;
                            line-height: 42px;
                        }

                    }

                    a {
                        padding: 7px 10px;
                        display: block;
                        color: #4c6071;

                        &.delete-category-single {
                            opacity: 0.7;
                        }

                    }

                }

            }

            .collapse {

                a {
                    padding: 7px 10px;
                    display: block;
                    color: #4c6071;

                    &[aria-expanded="true"] {

                        &:after {
                            font-family: 'simple-line-icons';
                            content: "\e607";
                            float: right;
                            font-size: 12px;
                        }

                        &:hover {
                            text-decoration: none;
                        }

                    }

                    &[aria-expanded="false"] {

                        &:after {
                            font-family: 'simple-line-icons';
                            content: "\e604";
                            float: right;
                            font-size: 12px;
                        }

                        &:hover {
                            text-decoration: none;
                        }

                    }

                }

                &.in {
                    box-shadow: none;

                    & > a {
                        margin-bottom: 15px;
                        background-color: #ffffff;
                        box-shadow: 0 0.9px 1.2px 0 #ced9e0;
                        border: 0;
                        
                        &:after {
                            content: "\e607";
                        }

                    }

                }

            }

        }

        .modal-footer {
            text-align: left;

            a {
                color: #000031;
                border-bottom: 1px solid #000031;

                &:hover,
                &:focus {
                    border-bottom: 0;
                    text-decoration: none;
                }

            }

            @include dropdown-select();

            form {
                margin-top: 15px;

                input[type="text"] {
                    margin-bottom: 15px;
                    width: 100%;
                    min-height: 40px;
                    line-height: 40px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px !important;
                    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px !important;
                    font-size: 14px;
                    color: #6c757d;
                    padding: 0 15px;
                    border: 0;
                    
                    &:focus,
                    &:active {
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px !important;
                        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px !important;
                        border: 0 !important;
                    }
                    
                }

                .save-content {
                    text-align: center;
                    background-color: $primary-blue;
                    color: #FFFFFF;
                    border-color: $primary-blue;
                    width: 100%;
                    text-decoration: none;
                    font-size: 13px;
                    box-shadow: inset 0 32px 0 rgba(0,0,0,0);
                    height: 40px;
                    padding: 0 12px;
                    overflow: hidden;
                    line-height: 36px;
                    border-radius: 4px;

                    i {
                        float: left;
                        margin-top: 12px;
                    }
            
                }

                .dropdown {

                    .btn-secondary {
                        width: 100%;
                        text-align: left;

                        &::after {
                            float: right;
                            margin-top: 8px;
                        }

                    }

                }

                .nav-tabs {
                    margin-bottom: 20px;
                    border-bottom: 1px solid #cdcde6;
                    height: 40.4px;
                    
                    li {
                        display: inline-table;
                        
                        a {
                            border-radius: 0;
                            padding: 10px 20px;
                            border: 0;
                            color: $primary-black;
                            background-color: transparent;
                        }
                        
                        &.active {
                            
                            a {
                                background-color: #f5f9fd;
                                color: #6c757d;
                            }
                            
                        }
                        
                    }
                    
                }

                .tab-content {
                    margin-bottom: 30px;
                }

            }

        }

    }
    
}

/*******************************
CSS ANIMATIONS
********************************/
@-webkit-keyframes loading {
    50% {
        -ms-transform: rotate(180deg); 
        -webkit-transform: rotate(180deg); 
        transform: rotate(180deg); 
    }
    100% {
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg); 
    }	  
}

@keyframes loading {
    50% {
        -ms-transform: rotate(180deg); 
        -webkit-transform: rotate(180deg); 
        transform: rotate(180deg); 
    }  
    100% {
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg); 
    }
}

@-webkit-keyframes loadingOpacity {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }	  
}

@keyframes loadingOpacity {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }		
}