/*******************************
IMPORT DEPENDENCIES
********************************/
@import "../../../../../../admin/default/styles/default_colors.scss";
@import "../../../../../../admin/default/styles/default_fonts.scss";

/*******************************
TRANSACTIONS WIDGET STYLES
********************************/

.dashboard-widget-transactions-list {
    margin: 0;
    padding: 0;

    li {
        margin: 0 0 10px !important;
        padding: 5px 10px !important;
        border: 0 !important;
        list-style: none !important;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            color: $default-color-black;

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }

        }

        .dashboard-widget-transactions-transaction-time {
            text-transform: uppercase;
            font-family: $default-font-2;
            font-size: 12px;
            font-weight: 600;
            color: $default-color-violet; 
            
            svg {
                vertical-align: middle;
                margin-top: -3px;
                margin-right: 5px;
                width: 20px;
                height: 20px;
            }

        }

        .badge {
            min-width: 74.78px;
            line-height: 14px;
            font-size: 11px !important;
        }

        &.dashboard-widget-transactions-transaction-complete {
            background-color: $default-color-violet-light !important;

            a {
                border-bottom: 1px solid $default-color-violet-light;
                color: $default-color-black;

                &:hover,
                &:active,
                &:focus {
                    border-bottom: 1px solid $default-color-black;
                }

            }

            .dashboard-widget-transactions-transaction-time {
                font-family: $default-font-2 !important;
                color: $default-color-violet !important; 
            } 
            
            .badge {
                color: #FFFFFF !important;
            }

        }

        &.dashboard-widget-transactions-transaction-incomplete {
            background-color: $default-color-grey-light !important;

            a {
                border-bottom: 1px solid $default-color-grey-light;
                color: $default-color-black;

                &:hover,
                &:active,
                &:focus {
                    border-bottom: 1px solid $default-color-black;
                }

            }

            .dashboard-widget-transactions-transaction-time {
                font-family: $default-font-2 !important;
                color: $default-color-black !important; 
            }                                    

        }
        
        &.dashboard-widget-transactions-transaction-failed {
            background-color: $default-color-red-light !important;

            a {
                border-bottom: 1px solid $default-color-red-light;
                color: $default-color-red;

                &:hover,
                &:active,
                &:focus {
                    border-bottom: 1px solid $default-color-red;
                }

            }

            .dashboard-widget-transactions-transaction-time {
                font-family: $default-font-2 !important;
                color: $default-color-red !important; 
            }
            
            .badge {
                color: #FFFFFF !important;
            }

        }                                

    }

}