/*******************************
IMPORT DEPENDENCIES
********************************/
/*******************************
DEFAULT GLOBAL COLORS
********************************/
/*******************************
IMPORT FONTS
********************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Open+Sans:wght@300;400;600&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,500;1,700&family=Inter:wght@200;300;400;500;600&display=swap");
/*******************************
DEFAULT GLOBAL FONTS
********************************/
/*******************************
SYSTEM ERRORS STYLES
********************************/
@media screen and (max-width: 767px) {
  .notifications-view {
    height: auto;
    display: block;
    padding: 15px; } }
.notifications-view .notifications-errors-alert {
  padding-top: 15px; }
  .notifications-view .notifications-errors-alert > .row > .col-lg-3 .media {
    display: table-cell;
    vertical-align: middle;
    width: calc(100% - 50px); }
    .notifications-view .notifications-errors-alert > .row > .col-lg-3 .media .media-left img {
      width: 43px; }
    .notifications-view .notifications-errors-alert > .row > .col-lg-3 .media .media-body {
      margin-top: 2px;
      padding-left: 15px; }
      .notifications-view .notifications-errors-alert > .row > .col-lg-3 .media .media-body h5 {
        margin: 0 0 3px;
        font-size: 14px; }
      .notifications-view .notifications-errors-alert > .row > .col-lg-3 .media .media-body span {
        display: block;
        font-size: 13px;
        color: #A9AABC; }
  .notifications-view .notifications-errors-alert > .row > .col-lg-3 a {
    color: #292F4C; }
    .notifications-view .notifications-errors-alert > .row > .col-lg-3 a:hover {
      text-decoration: none;
      border-bottom: 1px solid #292F4C; }
  .notifications-view .notifications-errors-alert > .row > .col-lg-9 {
    border-right: 1px solid #dde3ee; }
    .notifications-view .notifications-errors-alert > .row > .col-lg-9 hr {
      margin-left: -15px;
      width: calc(100% + 30px);
      border-bottom: 1px solid #e3eaef;
      line-height: 45px;
      background-color: transparent; }
    .notifications-view .notifications-errors-alert > .row > .col-lg-9 .theme-text-input-1 {
      padding: 0.5rem 0.6rem; }
    .notifications-view .notifications-errors-alert > .row > .col-lg-9 .theme-checkbox-input-2 {
      margin-top: -8px; }
    .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users {
      margin: 0;
      padding: 0; }
      .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #FFFFFF;
        border-radius: 2px;
        border: 0;
        padding: 6px 15px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        border-bottom: 1px solid #f5f5f5;
        font-family: Open Sans,sans-serif;
        font-weight: 400; }
        .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li:last-child {
          border-bottom: 0; }
        .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li.notifications-no-results-found {
          padding: 5px 15px;
          line-height: 30px; }
        .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .notifications-user-activity {
          padding-top: 12px; }
        .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .notifications-user-seen-time {
          text-align: right; }
          .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .notifications-user-seen-time span {
            line-height: 52px;
            font-size: 75%;
            color: #ADA9BB; }
        .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 {
          display: table; }
          .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 .media {
            display: table-cell;
            vertical-align: middle;
            width: calc(100% - 50px); }
            .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 .media .media-left {
              margin-top: 4px; }
              .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 .media .media-left img {
                width: 43px; }
            .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 .media .media-body {
              margin-top: 6px;
              padding-left: 15px; }
              .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 .media .media-body h5 {
                margin: 0 0 3px;
                font-size: 14px; }
              .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 .media .media-body span {
                display: block;
                font-size: 13px;
                color: #A9AABC; }
          .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 a {
            color: #292F4C; }
            .notifications-view .notifications-errors-alert > .row > .col-lg-9 .notifications-list-users li .col-lg-5 a:hover {
              text-decoration: none;
              border-bottom: 1px solid #292F4C; }
    .notifications-view .notifications-errors-alert > .row > .col-lg-9 .theme-card-box.theme-list {
      background-color: #FFFFFF; }

/*# sourceMappingURL=system-errors.css.map */
