/*******************************
IMPORT FONTS
********************************/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans:400,600|Montserrat:400,500,600");
/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
/*******************************
MIDRUB ELEMENTS STYLES
********************************/
.page-loading { background-color: rgba(0, 0, 0, 0.8); height: 100%; width: 100%; position: fixed; z-index: 9999; margin-top: 0px; top: 0px; }

.page-loading .loading-animation-area { width: 100%; height: 100%; position: relative; }

.page-loading .loading-animation-area .loading-center-absolute { position: absolute; left: 50%; top: 50%; height: 200px; width: 200px; margin-top: -100px; margin-left: -100px; }

.page-loading .loading-animation-area .loading-center-absolute .object { -moz-border-radius: 50% 50% 50% 50%; -webkit-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; position: absolute; border-left: 5px solid #FFF; border-right: 5px solid #FFF; border-top: 5px solid transparent; border-bottom: 5px solid transparent; -webkit-animation: loading 2s infinite; animation: loading 2s infinite; }

.page-loading .loading-animation-area .loading-center-absolute .object.object_one { left: 75px; top: 75px; width: 50px; height: 50px; }

.page-loading .loading-animation-area .loading-center-absolute .object.object_two { left: 65px; top: 65px; width: 70px; height: 70px; -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }

.page-loading .loading-animation-area .loading-center-absolute .object.object_three { left: 55px; top: 55px; width: 90px; height: 90px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

.page-loading .loading-animation-area .loading-center-absolute .object.object_four { left: 45px; top: 45px; width: 110px; height: 110px; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

a:hover, a:active, a:focus { text-decoration: none; }

/*******************************
SOCIAL STYLES
********************************/
.user-page .checkbox-option { width: 100%; text-align: right; padding-top: 10px; }

.user-page .checkbox-option input[type=checkbox] { display: none; }

.user-page .checkbox-option label { cursor: pointer; position: relative; width: 50px; margin-right: 15px; margin-top: 20px; }

.user-page .checkbox-option label::before { content: ''; background-color: #ced8dc; box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2); border-radius: 8px; height: 14px; margin-top: -6px; position: absolute; opacity: 0.3; transition: all 0.4s ease-in-out; width: 50px; margin-left: -45px; }

.user-page .checkbox-option label::after { background-color: #c1c7cd; border-radius: 16px; content: ''; height: 24px; left: -4px; margin-top: -8px; position: absolute; top: -4px; transition: all 0.3s ease-in-out; width: 24px; }

.user-page .checkbox-option input[type=checkbox]:checked + label::after { left: 40px; background-color: #0f96e6; box-shadow: none; }

.user-page .single-app { border: 0; border-radius: 0; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); margin-bottom: 20px; min-height: 100px; }

.user-page .single-app > .panel-heading { border-bottom: 1px solid #e3eaef; font-family: Open Sans,sans-serif; font-weight: 400; color: #000031; padding-bottom: 0; padding: 0 15px; background-color: #FFFFFF; margin: 0; }

.user-page .single-app > .panel-heading .nav-tabs { height: 40px; }

.user-page .single-app > .panel-heading .nav-tabs li { width: auto; display: inline-table; }

.user-page .single-app > .panel-heading .nav-tabs li a { border-radius: 0; padding: 10px 20px; border: 0; color: #343a40; background-color: transparent; }

.user-page .single-app > .panel-heading .nav-tabs li.active a, .user-page .single-app > .panel-heading .nav-tabs li:hover a { text-decoration: none; border-bottom: 1px solid #000031; }

.user-page .single-app > .panel-body .form-group { margin-bottom: 30px; }

.user-page .single-app > .panel-body .form-group:last-child { margin-bottom: 0; }

.user-page .single-app > .panel-body .form-group label { font-weight: 400; font-size: 14px; color: #343a40; margin-top: 0; }

.user-page .single-app > .panel-body .form-group .social-text-input { box-shadow: none; border: 1px solid rgba(0, 0, 0, 0.07); height: 40px; margin-bottom: 6px; }

.user-page .single-app > .panel-body .form-group .social-text-input:active, .user-page .single-app > .panel-body .form-group .social-text-input:focus { border: 1px solid rgba(0, 0, 0, 0.27) !important; }

.user-page .single-app > .panel-body .form-group small { font-size: 12px; color: #6c757d; margin-bottom: 0; display: block; }

.user-page .single-app > .panel-body .form-group .option-input { width: 100%; height: 40px; padding: 10px 15px; margin-bottom: 6px; box-shadow: none; border: 1px solid rgba(0, 0, 0, 0.07); }

.user-page .single-app > .panel-body .form-group .option-input:active, .user-page .single-app > .panel-body .form-group .option-input:focus { border: 1px solid rgba(0, 0, 0, 0.27) !important; }

.user-page .single-app > .panel-body .form-group textarea { height: 100px !important; resize: none; }

.user-page .apps-directory { border: 0; border-radius: 0; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); margin-bottom: 20px; min-height: 100px; }

.user-page .apps-directory > .panel-heading { border-bottom: 1px solid #e3eaef; font-family: Open Sans,sans-serif; font-weight: 400; color: #000031; padding-bottom: 0; padding: 0 15px; background-color: #FFFFFF; margin: 0; }

.user-page .apps-directory > .panel-heading .nav-tabs { height: 40px; }

.user-page .apps-directory > .panel-heading .nav-tabs li { width: auto; display: inline-table; }

.user-page .apps-directory > .panel-heading .nav-tabs li a { border-radius: 0; padding: 10px 20px; border: 0; color: #343a40; background-color: transparent; }

.user-page .apps-directory > .panel-heading .nav-tabs li.active a, .user-page .apps-directory > .panel-heading .nav-tabs li:hover a { text-decoration: none; border-bottom: 1px solid #000031; }

.user-page .apps-directory > .panel-body { min-height: 400px; }

.user-page .apps-directory > .panel-body #app-install { line-height: 400px; text-align: center; }

.user-page .apps-directory > .panel-body #app-install .select-app { display: inline-block; padding: 7px 15px 6px; width: auto; border: 1px solid #cdcde6; border-radius: .25rem; line-height: 23px; font-weight: 400; color: #6c757d; background-color: #f5f9fd; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07); }

.user-page .apps-directory > .panel-body #app-install .select-app i { margin-right: 5px; }

.user-page .apps-directory > .panel-body #app-install .select-app:hover, .user-page .apps-directory > .panel-body #app-install .select-app:focus { opacity: 0.7; text-decoration: none; }

.settings-save-changes { border-radius: 5px; background-color: #616C74; -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); min-height: 50px; position: fixed; bottom: 15px; width: 60%; left: 20%; z-index: 5; display: none; }

@media screen and (max-width: 767px) { .settings-save-changes { width: calc(100% - 30px); min-height: 80px; left: 15px; right: 15px; bottom: 15px; } }

.settings-save-changes p { padding: 20px 10px; margin-bottom: 0; font-size: 16px; color: #FFFFFF; font-family: 'Nunito Sans', 'Montserrat', sans-serif; }

.settings-save-changes .btn-default { border: 0; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); margin-top: 14px; font-size: 16px; padding: 6px 19px; background-color: #60A7ED; color: #FFFFFF !important; }

.settings-save-changes .btn-default i { margin-right: 5px; }

.settings-save-changes .btn-default:hover, .settings-save-changes .btn-default:active { background-color: #60A7ED; opacity: 0.7; }

/*******************************
MODAL STYLES
********************************/
#app-installation .modal-content { border-radius: 0; }

#app-installation .modal-content button { text-align: center; min-width: 150px; text-decoration: none; font-size: 14px; font-family: Open Sans,sans-serif; box-shadow: inset 0 32px 0 rgba(0, 0, 0, 0); height: 36px; padding: 0 12px; overflow: hidden; font-weight: 400; border-radius: 4px; margin: 0 0 0 15px; }

#app-installation .modal-content button.btn-primary { background-color: #0f96e6; color: #FFFFFF; border-color: #0f96e6; }

#app-installation .modal-content button.btn-default { background-color: #FFFFFF; color: #343a40; border-color: #e2e5ec; }

#app-installation .modal-content button:hover, #app-installation .modal-content button:focus { outline: none; box-shadow: none; opacity: 0.7; }

#app-installation .modal-content .modal-header .close { font-size: 30px; padding: 0; min-width: auto; }

#app-installation .modal-content .modal-header .modal-title { line-height: 35px; }

#app-installation .modal-content .modal-body { padding: 15px 15px 185px; }

/*******************************
CSS ANIMATIONS
********************************/
@-webkit-keyframes loading { 50% { -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% { -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes loading { 50% { -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% { -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes loadingOpacity { 0% { opacity: 0; }
  60% { opacity: 0.5; }
  100% { opacity: 1;
    transform: scale(1); } }

@keyframes loadingOpacity { 0% { opacity: 0; }
  60% { opacity: 0.5; }
  100% { opacity: 1;
    transform: scale(1); } }
