/*******************************
IMPORT FONTS
********************************/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
$open-sans: 'Open Sans', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
$primary-black: #343a40;
$primary-green: #01a28b;
$primary-red: #ea6759;
$primary-blue: #2e5f9b;
$primary-yellow: #f7c48c;
$primary-border-black: rgba(65, 106, 166, 0.1);

/*******************************
MIDRUB ELEMENTS STYLES
********************************/
@mixin content-shadow() {
    background-color: #fff;
    -webkit-box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
    box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
}

@mixin opacity-animations($duration) {
    -webkit-animation: loadingOpacity $duration;
    animation: loadingOpacity $duration;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
        
}

@mixin checkbox-option() {
    
    .checkbox-option {
        width: 100%;
        text-align: right;

        input[type=checkbox]{
            display: none;
        }

        input[type=text] {
            margin-top: 2px;
            padding: 0 7px;
            width: 100%;
            height: 35px;
            border: 1px solid #c1c7cd;
            line-height: 35px;
            font-size: 14px;
            color: #1b2733;
        }

        label{
            cursor: pointer;
            margin-right:15px;
            margin-top: 20px;            
            position: relative; 
            width: 50px;
        }

        label::before{
            content: '';
            background-color: #ced8dc;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            height: 14px;
            margin-top: -6px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 50px;
            margin-left: -45px;
        }

        label::after {
            background-color: #c1c7cd;
            border-radius: 16px;
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

        input[type=checkbox]:checked + label::after {
            left: 40px;
            background-color: $primary-green;
            box-shadow: none;
        }

    }
    
    .textarea-option {
        width: 100%;
        text-align: right;
        
        input {
            width: 100%;
            padding: 6px 10px;
            outline: 0;
            resize: none;
            border: 1px solid #e6ecf0;
            border-radius: 3px;
        }
        
        .btn {
            display: none;
        }
        
        &.disabled {
            
            input {
                background-color: #fbfbfb;
                border: 1px solid #fbfbfb;
                pointer-events: none;
            }
            
            .btn {
                display: block;
                position: absolute;
                top: 0px;
                right: 15px;
                padding: 5px 5px 3px;
                
                &:hover {
                    background-color: #fbfbfb;
                    border: 1px solid #fbfbfb;
                    color: #000000;
                }

                i {
                    margin-right: 0;
                }
    
            }
            
        }
        
    }
        
}

@mixin select-option() {
    
    .select-option {
        width: 100%;
        text-align: right;

        select {
            width: 100%;
            padding: 4px;
            outline: 0;
            background-color: #fff;
            border: 1px solid #e6ecf0;
            border-radius: 3px;
            margin-top: 4px;
        }

    }
        
}

/*******************************
SETTINGS STYLES
********************************/
        
section {
    transform: scale(0.5);
    @include opacity-animations(0.5s);

    &.settings-page {
        padding: 30px;
        
        .tab-pane {
            padding: 0;
        }
        
        .settings-title {
            font-size: 23px;
            font-weight: 300;
            font-family: $open-sans;
            margin-bottom: 40px;
            margin-left: -15px;

            .settings-save-changes {
                float: right;
                padding: 5px 20px 7px;
                font-size: 14px;
                background-color: #6086bf;
                border-color: #6086bf;
                -webkit-box-shadow: 0 -3px 0px 0px rgba(0,0,0,0.12) inset, inset 0 0 0 1px rgba(0,0,0,0.08);
                box-shadow: 0 -3px 0px 0px rgba(0,0,0,0.12) inset, inset 0 0 0 1px rgba(0,0,0,0.08);
                display: none;
                
                &:hover {
                    opacity: 0.7;
                }
                
            }

        } 
        
        & > .row {
            
            & > .col-xl-2 {
                min-height: 100px;
                display: inline-table;
                padding: 25px 15px;
                margin-bottom: 20px;
                background-color: #FFFFFF;
                -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.05);
                box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.05);

                .settings-menu-group {
                    width: 100%;
                    margin-bottom: 40px;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .settings-menu-header {
                        font-size: 15px;
                        font-weight: 300;
                        margin-bottom: 20px;
                        font-family: $open-sans;
                        margin-top: 25px;
                    }

                    .nav {
                        width: 100%;
                        border-bottom: 0;

                        li {
                            width: 100%;
                            padding: 0;
                            
                            &:first-child {
                                
                                .settings-menu-header {
                                    margin-top: 0;
                                }
                                
                            }

                            a {
                                padding: 0 15px;
                                font-family: $open-sans, Arial, Helvetica;
                                font-size: 14px;
                                color: $primary-black;
                                line-height: 40px;
                                display: block;
                                border: 0;
                                
                                &.active {
                                    color: #333333;
                                    background-color: #f9fafb;
                                }

                                &:hover {
                                    border-bottom: 0;
                                }

                            }

                        }

                    }

                }
                
            }
        
            .col-xl-6 {
                
                @media only screen and (max-width: 1199px) {

                    & {
                        padding: 0;
                    }

                }
        
                .settings-list {
                    min-height: 500px;
                    border-radius: 4px;
                    background-color: #FFFFFF;
                    border: 1px solid #edf2f9;
                    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
                    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
                    
                    .tab-pane {
                        
                        &#referrals {
                            
                            .input-group {
                                padding: 15px;
                                padding: 15px;
                                background-color: #fbfbfb;
                                border: 1px solid #f6f7f7;
                                margin: 15px;
                                width: calc(100% - 30px);
                                
                                h4 {
                                    color: $primary-black;
                                    font-size: 15px;
                                    width: 100%;
                                    font-weight: 600;
                                    font-family: "Open Sans", sans-serif, "Arimo";
                                }
                                
                                p {
                                    width: 100%;
                                    font-size: 13px;
                                    color: #827f9b;
                                    margin-bottom: 15px;
                                }
                                
                                input[type="text"] {
                                    color: #495047;
                                    background-color: #fff;
                                    background-clip: padding-box;
                                    border: 0;
                                    height: 45px;
                                    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
                                    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;                                    
                                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
                                }
                                
                                .btn-default {
                                    border-radius: 0;
                                    background-color: #FFFFFF;
                                    border-color: #FFFFFF;
                                    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                                    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                                    margin-left: 15px;
                                    font-size: 20px;
                                    padding: 10px 10px 0;
                                    width: 50px;
                                    
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                    
                                    i {
                                        margin-right: 0;
                                    }
                                    
                                }
                                
                            }
                            
                            .referral-single-stats {
                                
                                & > .col-xl-12 {
                                    border: 1px solid #dee3eb;
                                    min-height: 100px;
                                    
                                    h3 {
                                        text-align: center;
                                        color: #44484f;
                                        font-weight: 400;
                                        line-height: 50px;
                                    }
                                    
                                    p {
                                        text-align: center;
                                        color: #a1aab7;
                                        font-size: 13px;
                                    }
                                    
                                }
                                
                            }
                            
                        }
                        
                        @media only screen and (max-width: 1199px) {
                            
                            & {
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                max-width: 100%;
                            }
                            
                        }
                        
                    }

                    .panel {

                        .panel-heading {
                            padding: 15px;
                            font-size: 15px;
                            border-bottom: 1px solid rgba(65, 106, 166, 0.1);
                            color: #212529;
                        }

                        .panel-body {
                            min-height: 600px;
                            padding-bottom: 20px;

                            .settings-list-options {
                                margin: 0;
                                padding: 0;

                                li {
                                    padding: 15px;
                                    list-style: none;
                                    border-bottom: 1px solid rgba(65, 106, 166, 0.05);
                                    
                                    &:last-child {
                                        border-bottom: 0;
                                    }

                                    h4 {
                                        font-weight: 400;
                                        font-size: 15px;
                                        color: #212529;
                                    }

                                    p {
                                        font-size: 13px;
                                        color: #827f9b;

                                    }
                                    
                                    a {
                                        border: 1px solid #dddddd;
                                        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                                        background-color: #FFFFFF;
                                        color: $primary-black;
                                        line-height: 23px;
                                        padding: 7px 10px 6px;
                                        margin-top: 4px;
                                        display: block;
                                        text-align: center;
                                    }

                                    @include checkbox-option();
                                    @include select-option();

                                }

                            }

                            .settings-list-plan-usage {
                                margin: 0;
                                padding: 15px 15px 0;  
                                
                                li {
                                    margin-bottom: 15px;
                                    list-style: none;
                                    margin-top: 10px;
                                    background-color: #fbfbfb;
                                    min-height: 60px;
                                    padding: 14px;
                                    font-size: 14px;
                                    color: #818a91;

                                    a {
                                        color: #1da1f2;
                                    }
                                    
                                    .progress {
                                        height: 5px;

                                        .progress-bar {
                                            height: 5px;

                                            &.bg-success {
                                                background-color: #14b8c8 !important;
                                            }

                                            &.bg-danger {
                                                background-color: $primary-red !important;
                                            }                                        

                                        }                                    

                                    }
                                    
                                }
                                
                            }
                            
                            .settings-list-invoices {
                                margin: 15px;
                                padding: 0;
                                
                                li {
                                    width: 100%;
                                    min-height: 50px;
                                    list-style: none;
                                    margin-bottom: 15px;
                                    border-radius: 3px;
                                    -webkit-box-shadow: 0 2px 2px rgba(36,37,37,.09);
                                    box-shadow: 0 2px 2px rgba(36,37,37,.09);

                                    .row {

                                        .col-xl-9 {

                                            h3 {
                                                font-family: $open-sans, "Arimo";
                                                font-weight: 600;
                                                color: #303233;
                                                font-size: 13px;
                                                margin: 0;
                                                line-height: 54px;
                                                padding-left: 10px;
                                            }

                                        }

                                        .col-xl-3 {

                                            a {
                                                margin: 10px;
                                                height: 36px;
                                                background-color: #6086bf;
                                                border-color: #6086bf;
                                                font-size: 14px;
                                                color: #FFFFFF;

                                                &.btn-success {
                                                    background-color: $primary-green;
                                                    border-color: $primary-green;
                                                }   

                                                &:hover {
                                                    opacity: 0.8;
                                                }

                                            }

                                        }

                                    }

                                }

                            }

                        }

                        .panel-footer {
                            
                            .pagination {
                                margin: 0 15px 15px;
                                padding: 0;
                            }

                        }

                    }

                }
                
            }

        }
        
    }
    
}

#change-password {

    .modal-footer {
        
        .btn {
            padding: 5px 20px 7px;
            font-size: 14px;
            background-color: #6086bf;
            border-color: #6086bf;
            -webkit-box-shadow: 0 -3px 0px 0px rgba(0,0,0,0.12) inset, inset 0 0 0 1px rgba(0,0,0,0.08);
            box-shadow: 0 -3px 0px 0px rgba(0,0,0,0.12) inset, inset 0 0 0 1px rgba(0,0,0,0.08);

            &:hover {
                opacity: 0.7;
            }
                
        }
        
    }
    
}