@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
$open-sans: 'Open Sans', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
$primary-black: #343a40;
$primary-green: #01a28b;
$primary-red: #ea6759;
$primary-blue: #2e5f9b;
$primary-yellow: #f7c48c;
$primary-border-black: rgba(65, 106, 166, 0.1);

/*******************************
MIDRUB ELEMENTS STYLES
********************************/
@mixin content-shadow() {
    background-color: #fff;
    -webkit-box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
    box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
}

.notification {  
    text-align: left;
    color: #ffffff;
    -webkit-box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02);
    -moz-box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02);
    box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02);

    .notification-error {
        padding: 1.3rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;  
        background-color: #eb6276;
    }

    .notification-success {
        padding: 1.3rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;  
        background-color: #4bc5ab;
    }

    i {
        font-size: 18px;
        margin-right: 10px;
    }

}

body {
    background-color: #f8f9fc;
}

.featherlight .featherlight-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-height: 100% !important;
}

/*******************************
PAYMENTS APP STYLES
********************************/
.container {
    font-family: 'Montserrat', sans-serif;

    & > .payment-container {
        margin-top: 100px;
        padding: 45px 30px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 3px;

        h3 {
            text-align: center;
            line-height: 50px;
            margin-bottom: 40px;
        }

        .input-group {

            &.w-25 {
                margin-right: 15px;
                width: 25%!important;
            }

        }
        
        label {
            padding-bottom: 5px;
            font-size: 13px;

            &.subscribe {
                display: block;
                margin-right: -15px;
                padding-top: 3px;
                text-align: right;
            }

        }
        
        input {
            width: 100%;
            background-color: #fff;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            color: #172b4d;
            box-sizing: border-box;
            -webkit-appearance: none;
            border-radius: 3px;
            display: block;
            line-height: 35px;
            margin-bottom: 22px;
            padding: 8px 12px;
            transition-property: border-color,box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;  

            &:focus {
                outline: none;
                box-shadow: inset 0 0 0 2px #0f9a8b; 
            }

        }

        .checkbox-option {
            width: 100%;
            text-align: right;
    
            input[type=checkbox]{
                display: none;
            }
    
            label{
                cursor: pointer;
                position: relative; 
                width: 50px;
                margin-right:15px;
                margin-top: 20px;
            }
    
            label::before{
                position: absolute;
                content: '';
                margin-left: -45px;
                margin-top: -6px;
                border-radius: 8px;
                height: 21px;
                width: 50px;
                opacity: 0.3;
                background-color: #ced8dc;
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
                transition: all 0.4s ease-in-out;                
            }
    
            label::after {
                position: absolute;
                content: '';
                margin-top: -9px;
                border-radius: 16px;
                width: 35px;
                height: 35px;
                left: -4px;
                top: -4px;
                background-color: #c1c7cd;
                transition: all 0.3s ease-in-out;
                
            }
    
            input[type=checkbox]:checked + label::after {
                left: 40px;
                background-color: $primary-yellow;
                box-shadow: none;
            }
    
        }

        .btn-primary {
            margin-top: 10px;
            width: 100%;
            border: 0;
            padding: 15px 25px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            background-color: #5262AC;
            box-shadow: 0 1px 4px 0 rgba(0,108,91,.24);

            &:hover,
            &:focus,
            &:active {
                outline: none !important;
                opacity: 0.7;
                background-color: #5262AC;
                box-shadow: none !important;
            }

        }

        .card {
            margin-top: 15px;
            width: 100%;
            height: 250px;
            box-sizing: border-box;
            border-radius: 20px;
            color: #fff;
            background: rgb(45,48,58);
            background: radial-gradient(circle, rgba(45,48,58,1) 0%, rgba(36,44,68,1) 100%);
            -webkit-transition: all 0.7s ease-out;
            -moz-transition: all 0.7s ease-out;
            -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;

            .card-number {
                padding: 110px 0 15px;
                text-align: center;
                letter-spacing: 5px;
                font-size: 25px;
            }

            .card-owner {
                margin: 40px 0 0 15px;
                font-size: 16px;                
            }

            .card-expiry-date {
                margin: 40px 15px 0 0;
                text-align: right;
                font-size: 16px;
            }

            .card-number,
            .card-owner,
            .card-expiry-date {
                -webkit-animation: show_behind 0.5s forwards;
                -moz-animation:    show_behind 0.5s forwards;
                -o-animation:      show_behind 0.5s forwards;
                animation:         show_behind 0.5s forwards;
            }            

            .card-secure {
                display: none;
            }

            &.show-behind {
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                transform: rotateY(180deg);

                .card-number,
                .card-owner,
                .card-expiry-date {
                    display: none;
                }

                .card-line {
                    margin: 35px 0 40px;
                    height: 50px;
                    background: #000;
                }

                .row {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    margin: 0;

                    .card-signature {
                        height: 40px;
                        background: #A2ADB5;
                    }
    
                    .card-secure {
                        display: table;
                        height: 40px;
                        width: 49;
                        line-height: 40px;
                        color: #212529;
                        background-color: #fff;
                        -webkit-transform: scaleY(-1);
                        transform: scaleY(-1);
                    }

                }

                .card-line,
                .row { 
                    -webkit-animation: show_behind 0.5s forwards;
                    -moz-animation:    show_behind 0.5s forwards;
                    -o-animation:      show_behind 0.5s forwards;
                    animation:         show_behind 0.5s forwards;
                }

            }

            .active-field {
                color: #FDEE57 !important;

                &.card-secure {
                    color: #A80801 !important;
                }

            }

        }

        .total-price {
            margin-top: 61px;

            h3 {
                border-top: 2px solid #f8f9fc;
                border-bottom: 2px solid #f8f9fc;
                text-align: left;
                font-size: 18px;

                span {
                    float: right;
                    font-size: 18px;
                    font-weight: 600;
                }

            }

        }

    }
    
}

@keyframes show_behind {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}
  
@-moz-keyframes show_behind {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}
  
@-webkit-keyframes show_behind {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}
  
@-o-keyframes show_behind {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}