@charset "UTF-8";
/*******************************
IMPORT FONTS
********************************/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans:400,600|Montserrat:400,500,600");
/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
/*******************************
UPDATE STYLES
********************************/
.update-page {
  padding-top: 15px; }
  .update-page > .row > .col-lg-2 {
    padding-left: 0; }
    .update-page > .row > .col-lg-2 > .row {
      margin: 0; }
      .update-page > .row > .col-lg-2 > .row > .col-lg-12 {
        padding: 0; }
        .update-page > .row > .col-lg-2 > .row > .col-lg-12 ul {
          margin: 0 0 15px;
          padding: 0; }
          .update-page > .row > .col-lg-2 > .row > .col-lg-12 ul li {
            margin-bottom: 10px;
            padding: 5px 0; }
            .update-page > .row > .col-lg-2 > .row > .col-lg-12 ul li.active {
              border-radius: 5px;
              background-color: #FFFFFF; }
            .update-page > .row > .col-lg-2 > .row > .col-lg-12 ul li a {
              color: #656565;
              font-family: 'Nunito Sans', 'Montserrat', sans-serif;
              background-color: transparent; }
              .update-page > .row > .col-lg-2 > .row > .col-lg-12 ul li a i {
                margin-right: 5px; }
  .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area {
    margin-bottom: 15px;
    padding: 0;
    min-height: 200px;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.26rem 1.872rem rgba(42, 54, 75, 0.05);
    box-shadow: 0 0.26rem 1.872rem rgba(42, 54, 75, 0.05); }
    .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel {
      border: 0;
      box-shadow: none; }
      .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-heading {
        margin: 0;
        padding: 0 15px;
        background-color: transparent;
        border-bottom: 1px solid #e3eaef;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 50px; }
        .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-heading i {
          margin-right: 5px; }
      .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body {
        padding: 15px;
        min-height: 700px; }
        .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel {
          margin-bottom: 10px;
          border-left: 3px solid #1dc9b7;
          border-radius: 0;
          -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.1);
          box-shadow: 0 0 2px 0 rgba(82, 63, 105, 0.2); }
          .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-heading {
            padding: 0;
            border: 0;
            -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
            box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03); }
            .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-heading h4 a {
              display: block;
              padding: 0 15px;
              line-height: 50px;
              font-weight: 400;
              font-size: 15px;
              color: #343a40; }
              .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-heading h4 a:hover, .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-heading h4 a:focus, .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-heading h4 a:active {
                text-decoration: none;
                color: #343a40; }
          .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-body {
            min-height: auto;
            border: 0; }
            .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-body ul {
              margin: 0;
              padding: 15px 0; }
              .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-body ul li {
                margin-bottom: 15px;
                list-style: none;
                line-height: 25px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #6e84a3; }
                .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-body ul li::before {
                  margin-right: 5px;
                  font-weight: 900;
                  font-family: "Font Awesome 5 Free";
                  font-size: 10px;
                  content: ''; }
          .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer {
            background: #f9f9fd; }
            .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer form .form-group {
              margin-bottom: 0;
              width: 100%; }
              .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer form .form-group .btn-primary {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 0 15px 0 0;
                width: auto;
                line-height: 23px;
                padding: 7px 15px 6px;
                font-weight: 400;
                border-radius: .25rem;
                border: 1px solid #0f96e6;
                border-radius: 3px;
                background-color: #0f96e6;
                color: #ffffff;
                -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
                box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07); }
                .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer form .form-group .btn-primary:last-child {
                  margin: 0; }
              .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer form .form-group .input-group {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                width: 100%; }
                .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer form .form-group .input-group input[type="text"] {
                  position: relative;
                  -webkit-box-flex: 1;
                  -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
                  width: 1%;
                  margin: 0 15px 0 0;
                  min-height: 40px;
                  line-height: 40px;
                  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px !important;
                  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px !important;
                  font-size: 14px;
                  color: #6c757d;
                  padding: 0 15px;
                  border: 0; }
                  .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer form .form-group .input-group input[type="text"]:focus, .update-page > .row > .col-lg-8 > .row > .col-lg-12.update-area .panel .panel-body .panel .panel-footer form .form-group .input-group input[type="text"]:active {
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px !important;
                    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px !important;
                    border: 0 !important; }

/*******************************
MODAL STYLES
********************************/
#update-system .modal-content {
  border-radius: 0; }
  #update-system .modal-content button {
    text-align: center;
    min-width: 150px;
    text-decoration: none;
    font-size: 14px;
    font-family: Open Sans,sans-serif;
    box-shadow: inset 0 32px 0 rgba(0, 0, 0, 0);
    height: 36px;
    padding: 0 12px;
    overflow: hidden;
    font-weight: 400;
    border-radius: 4px;
    margin: 0 0 0 15px; }
    #update-system .modal-content button.btn-primary {
      background-color: #0f96e6;
      color: #FFFFFF;
      border-color: #0f96e6; }
    #update-system .modal-content button.btn-default {
      background-color: #FFFFFF;
      color: #343a40;
      border-color: #e2e5ec; }
    #update-system .modal-content button:hover, #update-system .modal-content button:focus {
      outline: none;
      box-shadow: none;
      opacity: 0.7; }
  #update-system .modal-content .modal-header .close {
    font-size: 30px;
    padding: 0;
    min-width: auto; }
  #update-system .modal-content .modal-header .modal-title {
    line-height: 35px; }
  #update-system .modal-content .modal-body {
    padding: 15px 15px 185px; }

/*******************************
CSS ANIMATIONS
********************************/
@-webkit-keyframes loading {
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes loading {
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes loadingOpacity {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes loadingOpacity {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
