/*******************************
IMPORT FONTS
********************************/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans:400,600|Montserrat:400,500,600");
/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
/*******************************
MIDRUB ELEMENTS
********************************/
.dashboard-manage-widgets {
  position: fixed;
  z-index: 1;
  top: 45vh;
  right: -5px;
  width: 45px;
  height: 40px;
  border: 0;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #433DA1 !important;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.05); }
  .dashboard-manage-widgets:hover, .dashboard-manage-widgets:active, .dashboard-manage-widgets:focus {
    right: 0;
    outline: none;
    opacity: 0.7; }

.page-loading {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0px;
  top: 0px; }
  .page-loading .loading-animation-area {
    width: 100%;
    height: 100%;
    position: relative; }
    .page-loading .loading-animation-area .loading-center-absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 200px;
      width: 200px;
      margin-top: -100px;
      margin-left: -100px; }
      .page-loading .loading-animation-area .loading-center-absolute .object {
        -moz-border-radius: 50% 50% 50% 50%;
        -webkit-border-radius: 50% 50% 50% 50%;
        border-radius: 50% 50% 50% 50%;
        position: absolute;
        border-left: 5px solid #FFF;
        border-right: 5px solid #FFF;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        -webkit-animation: loading 2s infinite;
        animation: loading 2s infinite; }
        .page-loading .loading-animation-area .loading-center-absolute .object.object_one {
          left: 75px;
          top: 75px;
          width: 50px;
          height: 50px; }
        .page-loading .loading-animation-area .loading-center-absolute .object.object_two {
          left: 65px;
          top: 65px;
          width: 70px;
          height: 70px;
          -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
        .page-loading .loading-animation-area .loading-center-absolute .object.object_three {
          left: 55px;
          top: 55px;
          width: 90px;
          height: 90px;
          -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
        .page-loading .loading-animation-area .loading-center-absolute .object.object_four {
          left: 45px;
          top: 45px;
          width: 110px;
          height: 110px;
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

/*******************************
DASHBOARD STYLES
********************************/
.dashboard-page {
  padding: 15px; }
  .dashboard-page > .row > .col-lg-3 > div, .dashboard-page > .row > .col-lg-4 > div, .dashboard-page > .row > .col-lg-6 > div, .dashboard-page > .row > .col-lg-12 > div {
    margin-bottom: 30px;
    width: 100%;
    min-height: 400px;
    border-radius: 2px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(81, 88, 116, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(81, 88, 116, 0.1);
    box-shadow: 0 2px 4px 0 rgba(81, 88, 116, 0.1); }
    .dashboard-page > .row > .col-lg-3 > div .panel, .dashboard-page > .row > .col-lg-4 > div .panel, .dashboard-page > .row > .col-lg-6 > div .panel, .dashboard-page > .row > .col-lg-12 > div .panel {
      margin: 0;
      padding: 0;
      border: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading {
        margin: 0;
        padding: 5px 15px;
        border-bottom: 1px solid #ecedf1;
        font-size: 16px;
        font-family: 'Nunito Sans', 'Open Sans', sans-serif;
        color: #585b6b;
        background-color: transparent; }
        .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading i, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading i, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading i, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading i {
          margin-right: 5px; }
        .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .btn-default, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .btn-default, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .btn-default, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .btn-default {
          padding: 0;
          border: 0;
          background-color: transparent; }
          .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .btn-default i, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .btn-default i, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .btn-default i, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .btn-default i {
            font-size: 18px;
            color: #000031; }
          .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .btn-default:hover, .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .btn-default:active, .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .btn-default:focus, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .btn-default:hover, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .btn-default:active, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .btn-default:focus, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .btn-default:hover, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .btn-default:active, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .btn-default:focus, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .btn-default:hover, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .btn-default:active, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .btn-default:focus {
            background-color: transparent !important;
            box-shadow: none !important; }
        .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .dropdown-menu, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .dropdown-menu, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .dropdown-menu, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .dropdown-menu {
          margin-left: -140px;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: .25rem;
          padding: 0;
          box-shadow: none; }
          .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .dropdown-menu li, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .dropdown-menu li, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .dropdown-menu li, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .dropdown-menu li {
            padding: 0;
            box-shadow: none; }
            .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .dropdown-menu li a, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .dropdown-menu li a, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .dropdown-menu li a, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .dropdown-menu li a {
              padding: 8px 20px; }
              .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .dropdown-menu li a i, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .dropdown-menu li a i, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .dropdown-menu li a i, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .dropdown-menu li a i {
                margin: 0;
                margin-right: 5px;
                color: #343a40; }
              .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .dropdown-menu li a:active, .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .dropdown-menu li a:focus, .dashboard-page > .row > .col-lg-3 > div .panel .panel-heading .btn-group .dropdown-menu li a:hover, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .dropdown-menu li a:active, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .dropdown-menu li a:focus, .dashboard-page > .row > .col-lg-4 > div .panel .panel-heading .btn-group .dropdown-menu li a:hover, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .dropdown-menu li a:active, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .dropdown-menu li a:focus, .dashboard-page > .row > .col-lg-6 > div .panel .panel-heading .btn-group .dropdown-menu li a:hover, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .dropdown-menu li a:active, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .dropdown-menu li a:focus, .dashboard-page > .row > .col-lg-12 > div .panel .panel-heading .btn-group .dropdown-menu li a:hover {
                background-color: #f7f7f7 !important;
                color: #343a40;
                border: 0; }
      .dashboard-page > .row > .col-lg-3 > div .panel .panel-body, .dashboard-page > .row > .col-lg-4 > div .panel .panel-body, .dashboard-page > .row > .col-lg-6 > div .panel .panel-body, .dashboard-page > .row > .col-lg-12 > div .panel .panel-body {
        min-height: 438px; }
        .dashboard-page > .row > .col-lg-3 > div .panel .panel-body .media, .dashboard-page > .row > .col-lg-4 > div .panel .panel-body .media, .dashboard-page > .row > .col-lg-6 > div .panel .panel-body .media, .dashboard-page > .row > .col-lg-12 > div .panel .panel-body .media {
          margin-bottom: 15px; }
          .dashboard-page > .row > .col-lg-3 > div .panel .panel-body .media .media-left .media-object, .dashboard-page > .row > .col-lg-4 > div .panel .panel-body .media .media-left .media-object, .dashboard-page > .row > .col-lg-6 > div .panel .panel-body .media .media-left .media-object, .dashboard-page > .row > .col-lg-12 > div .panel .panel-body .media .media-left .media-object {
            width: 60px;
            border-radius: 6px; }
          .dashboard-page > .row > .col-lg-3 > div .panel .panel-body .media .media-body .media-heading a, .dashboard-page > .row > .col-lg-4 > div .panel .panel-body .media .media-body .media-heading a, .dashboard-page > .row > .col-lg-6 > div .panel .panel-body .media .media-body .media-heading a, .dashboard-page > .row > .col-lg-12 > div .panel .panel-body .media .media-body .media-heading a {
            font-size: 16px;
            color: #000031; }
            .dashboard-page > .row > .col-lg-3 > div .panel .panel-body .media .media-body .media-heading a span, .dashboard-page > .row > .col-lg-4 > div .panel .panel-body .media .media-body .media-heading a span, .dashboard-page > .row > .col-lg-6 > div .panel .panel-body .media .media-body .media-heading a span, .dashboard-page > .row > .col-lg-12 > div .panel .panel-body .media .media-body .media-heading a span {
              color: #999; }
          .dashboard-page > .row > .col-lg-3 > div .panel .panel-body .media .media-body p, .dashboard-page > .row > .col-lg-4 > div .panel .panel-body .media .media-body p, .dashboard-page > .row > .col-lg-6 > div .panel .panel-body .media .media-body p, .dashboard-page > .row > .col-lg-12 > div .panel .panel-body .media .media-body p {
            font-size: 14px;
            color: #b2b7bb; }

/*******************************
MODALS STYLES
********************************/
#dashboard-manage-widgets .modal-content {
  border-radius: 0; }
  #dashboard-manage-widgets .modal-content .modal-header {
    padding-bottom: 0;
    border: 0; }
    #dashboard-manage-widgets .modal-content .modal-header .close {
      font-size: 30px;
      padding: 0;
      min-width: auto; }
    #dashboard-manage-widgets .modal-content .modal-header .nav-tabs {
      border: 0; }
      #dashboard-manage-widgets .modal-content .modal-header .nav-tabs li {
        margin-top: -10px; }
        #dashboard-manage-widgets .modal-content .modal-header .nav-tabs li a {
          border: 0;
          border-bottom: 2px solid #587eeb;
          font-weight: 600;
          color: #587eeb; }
  #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list {
    margin: 0;
    padding: 0; }
    #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li {
      margin-bottom: 15px;
      padding: 15px 15px 17px;
      list-style: none;
      border-radius: 2px;
      border: 0;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
      #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group {
        margin-top: -3px; }
        #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-toggle {
          padding: 3px 10px;
          border: 0;
          font-size: 12px;
          color: #000031;
          background-color: #eaeef8; }
          #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-toggle span {
            margin-left: 15px; }
        #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-menu {
          margin-left: -80px;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: .25rem;
          padding: 0;
          box-shadow: none; }
          #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-menu li {
            padding: 0;
            box-shadow: none; }
            #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-menu li a {
              padding: 8px 20px; }
              #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-menu li a i {
                margin: 0;
                margin-right: 5px;
                color: #343a40; }
              #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-menu li a:active, #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-menu li a:focus, #dashboard-manage-widgets .modal-content .modal-body .dashboard-manage-widgets-list > li .btn-group .dropdown-menu li a:hover {
                background-color: #f7f7f7 !important;
                color: #343a40;
                border: 0; }

/*# sourceMappingURL=styles.css.map */
