/*******************************
IMPORT FONTS
********************************/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
$open-sans: 'Open Sans', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
$primary-black: #343a40;
$primary-green: #01a28b;
$primary-red: #ea6759;
$primary-blue: #2e5f9b;
$primary-yellow: #f7c48c;
$primary-border-black: rgba(65, 106, 166, 0.1);

/*******************************
MIDRUB ELEMENTS STYLES
********************************/


/*******************************
OAUTH STYLES
********************************/
.authorize-page {
    
    hr {
        border-top: 1px solid #f0f0f0;
    }
    
    .authorize-content {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: 0 auto;
        
        .home-page-link {
            display: block;
            padding: 20px 0 20px;
            
            &:hover {
                text-decoration: none;
                border: 0;
            }
            
        }
        
        .fa-cube {
            font-size: 50px;
            color: #346cb0;
        }
        
        h3 {
            font-size: 18px;
            font-weight: 600;
            font-family: $open-sans;
        }
        
        p {
            color: #343a40;
            font-size: 15px;
            font-family: $open-sans;
        }
        
        ul {
            margin: 30px;
            padding: 0;
            
            li {
                line-height: 40px;
                font-family: $open-sans;
                font-size: 14px;
            }
            
        }
        
        .btn-success {
            height: 36px;
            background-color: #6086bf;
            border-color: #6086bf;
            color: #FFFFFF;
            font-size: 14px;
            margin-right: 15px;
            
            &:hover,
            &:active, {
                background-color: #6086bf;
                border-color: #6086bf;
                opacity: 0.7;
            }
            
        }
        
        .btn-default {
            height: 36px;
            background-color: #ea6759;
            border-color: #ea6759;
            color: #FFFFFF;
            font-size: 14px;
            
            &:hover,
            &:active, {
                background-color: #ea6759;
                border-color: #ea6759;
                opacity: 0.7;
            }
            
        }        
        
    }
    
}