/*******************************
IMPORT FONTS
********************************/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
$open-sans: 'Open Sans', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
$primary-black: #343a40;
$primary-green: #01a28b;
$primary-red: #ea6759;
$primary-blue: #2e5f9b;
$primary-yellow: #f7c48c;
$primary-border-black: rgba(65, 106, 166, 0.1);

/*******************************
MIDRUB ELEMENTS STYLES
********************************/
@mixin content-shadow() {
    background-color: #fff;
    -webkit-box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
    box-shadow: 0 0 33px 0 rgba(144, 163, 171, 0.15);
}

@mixin opacity-animations($duration) {
    -webkit-animation: loadingOpacity $duration;
    animation: loadingOpacity $duration;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
        
}

@mixin checkbox-option() {
    
    .checkbox-option {
        width: 100%;
        text-align: right;

        input[type=checkbox]{
            display: none;
        }

        input[type=text] {
            height: 35px;
            line-height: 35px;
            width: 100%;
            padding: 0 7px;
            border: 1px solid #c1c7cd;
            color: #1b2733;
            margin-top: 2px;
        }

        label{
            cursor: pointer;
            position: relative; 
            width: 50px;
            margin-right:15px;
            margin-top: 20px;
        }

        label::before{
            content: '';
            background-color: #ced8dc;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            height: 14px;
            margin-top: -6px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 50px;
            margin-left: -45px;
        }

        label::after {
            background-color: #c1c7cd;
            border-radius: 16px;
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

        input[type=checkbox]:checked + label::after {
            left: 40px;
            background-color: $primary-green;
            box-shadow: none;
        }

    }
        
}

@mixin publish-buttons() {
    
    .btn-success{
        height: 36px;
        line-height: 20px;
        background-color: #6086bf;
        border-color: #6086bf;
        font-size: 14px;
        font-family: $open-sans;
        
        i {
            margin-right: 5px;
        }

        &:nth-child(2) {
            border-left: 1px solid #42659a !important;
            width: 40px;
            
            span {
                margin-left: -5px;
            }
            
        }

    }

    .btn-success:hover{
        opacity: 0.8;
    }

    ul {
        margin: 0;
        padding: 0;
        border: 1px solid #e0e6e8;
        border-radius: 0;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        transform: translate3d(22px, -75px, 0px) !important;

        li {
            padding: 0 10px;
            height: 35px;
            font-size: 14px;

            a {
                color: #333333;
                display: block;
                height: 35px;
                line-height: 35px;
                width: 100%;

                &:hover {
                    text-decoration: none;
                    border: 0;
                }

            }

            &:hover {
                background-color: #f7f7f7;
            }

        }

    }
    
    .loadsend {
        display: none;
    }
        
}

.btn-help-open-ticket {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #7b9fcc;
    border-color: #7b9fcc;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    
    &:hover {
        background-color: #7b9fcc;
        border-color: #7b9fcc;
        opacity: 0.7;
    }
    
}

/*******************************
FAQ STYLES
********************************/
        
section {
    transform: scale(0.5);
    @include opacity-animations(0.5s);

    &.faq-page {
        padding: 30px;
        
        .container-fluid {
        
            .faq-page-header {
                margin-bottom: 100px;
                
                h2 {
                    font-size: 28px;
                    font-weight: 300;
                    margin-bottom: 20px;
                }
                
                .custom-search-input {
                    width: 100%;
                    padding: 10px 15px;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    border-radius: 4px;
                    background-color: #FFFFFF;
                    color: #333333;
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.03);
                    border: 1px solid #f7f9fb;
                    
                    .input-group-prepend {
                        
                        i {
                            line-height: 36px;
                            font-size: 20px;
                            color: #797876;
                        }
                    }
                    
                    input[type="text"] {
                        background: transparent;
                        border: 0;
                        -webkit-box-shadow: none !important;
                        box-shadow: none !important;
                        outline: none !important;
                    }
                    
                    .search-results {
                        background: #fff;
                        width: calc(100% + 30px);
                        margin-left: -15px;
                        color: gray;
                        position: absolute;
                        top: 139%;
                        left: 0;
                        border: 1px solid rgba(0, 0, 0, 0.02);
                        z-index: 9;
                        border-radius: 5px;
                        -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                        display: none;
                        
                        ul {
                            margin: 0;
                            padding: 5px 15px;
                            text-align: left;
                            
                            li {
                                line-height: 40px;
                                list-style: none;
                                font-size: 16px;
                                
                                a {
                                    color: #495057;

                                    &:hover {
                                        border-bottom: 1px solid #495057;
                                    }

                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
                
                .cancel-search-for-articles {
                    background-color: transparent;
                    border: 0;
                    display: none;

                    i {
                        color: #797876;
                    }

                }
                
            }
            
            .container {
                
                .card-deck {
                    
                    .card {
                        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
                        border: 1px solid #e1e8ed;
                        margin-bottom: 50px !important;
                        
                        .card-body {
                            padding: 0;
                            
                            a {
                                display: block;
                                padding: 20px 0;
                                color: $primary-black;
                                -webkit-transition: background-color 1000ms linear;
                                -ms-transition: background-color 1000ms linear;
                                transition: background-color 1000ms linear;
                                
                                &:hover {
                                    border-bottom: 0;
                                    background-color: #f7f9fb;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
                
            }
        
        }

    }
    
    &.faq-categories,
    &.single-faq-article,
    &.single-ticket {
        padding: 30px;
        
        .container-fluid {
            
            & > .row {

                & > .col-xl-2 {
                    min-height: 100px;
                    display: inline-table;
                    padding: 15px;
                    margin-bottom: 20px;
                    background-color: #FFFFFF;
                    -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.05);
                    box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.05);

                    .nav {
                        width: 100%;
                        border-bottom: 0;

                        li {
                            width: 100%;
                            padding: 0;

                            h3 {
                                margin: 0;
                                font-weight: 700;
                                color: #222;
                                font-size: 14px;
                                text-transform: uppercase;
                                font-family: $open-sans, Arial, Helvetica;
                                margin-bottom: 20px;
                            }

                            a {
                                padding: 0 15px;
                                font-family: $open-sans, Arial, Helvetica;
                                font-size: 14px;
                                color: $primary-black;
                                line-height: 20px;
                                margin-bottom: 15px;
                                display: block;
                                border: 0;

                                &:hover {
                                    border-bottom: 0;
                                }

                            }
                            
                            .list-group {
                                margin: 0;
                                padding: 0 18px;

                                li {
                                    list-style: disc;
                                    
                                    a {
                                        padding: 0;
                                    }
                                    
                                }
                                
                            }

                        }

                    }

                }

                .col-xl-6 {

                    @media only screen and (max-width: 1199px) {

                        & {
                            padding: 0;
                        }

                    }

                    .settings-list {
                        min-height: 500px;
                        border: 1px solid #edf2f9;
                        background-color: #FFFFFF;
                        -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
                        box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
                        border-radius: 4px;

                        .tab-pane {

                            @media only screen and (max-width: 1199px) {

                                & {
                                    margin: 0;
                                    width: 100%;
                                    max-width: 100%;
                                }

                            }

                        }

                        .panel {
                            margin: 15px 0;

                            .panel-heading {
                                padding: 0;
                                font-size: 15px;
                                border-bottom: 1px solid rgba(65, 106, 166, 0.1);
                                color: #212529;
                                
                                .breadcrumb {
                                    background-color: transparent;
                                    padding: 0;
                                    
                                    .breadcrumb-item + .breadcrumb-item::before {
                                        content:"\203A";
                                        padding: 0 5px;
                                        color: #ccc;
                                        margin-left: 5px;
                                    }
                                    
                                }
                                
                            }

                            .panel-body {
                                min-height: 600px;
                                padding-bottom: 20px;
                                
                                ul {
                                    margin: 15px 0;
                                    padding: 0;
                                    
                                    li {
                                        line-height: 40px;
                                        list-style: none;
                                        
                                        a {
                                            color: #495057;
                                            
                                            &:hover {
                                                border-bottom: 1px solid #495057;
                                            }
                                            
                                        }
                                        
                                    }
                                    
                                }
                                
                                .article {
                                    padding: 25px 0;
                                    
                                    .title {
                                        font-weight: 400;
                                        font-size: 22px;
                                        color: #253540;
                                        margin-bottom: 1em;
                                        text-transform: uppercase;
                                    }
                                    
                                    p {
                                        color: #4F5D6B;
                                        font-size: 16px;
                                        line-height: 26px;
                                        margin-bottom: 1.5em;
                                        word-wrap: break-word;
                                    }
                                    
                                    ul {
                                        padding: 0;
                                        margin: 0 0 9px 25px;
                                        
                                        li {
                                            color: #4F5D6B;
                                            font-size: 16px;
                                            line-height: 26px;
                                            list-style-type: disc;
                                        }
                                        
                                    }
                                    
                                    dt {
                                        background: #3197d1;
                                    }

                                    h4 {
                                        font-weight: 400;
                                    }

                                    p,
                                    ul,
                                    ol,
                                    li,
                                    div,
                                    blockquote,
                                    dd,
                                    table {
                                        color: #4F5D6B;
                                        font-size: 16px;
                                        line-height: 26px;
                                    }

                                    strong {
                                        color: #4A4D4F;
                                        font-weight: 600;
                                    }

                                    h1,
                                    h2,
                                    h3,
                                    h4,
                                    h5 {
                                        color: #253540;
                                        margin-bottom: 1em;
                                    }

                                    h2,
                                    h5 {
                                        font-weight: 600;
                                    }

                                    h4 {
                                        font-weight: 500;
                                    }

                                    h1,
                                    h3 {
                                        font-weight: 400;
                                    }

                                    h3 {
                                        font-size: 24px;
                                    }

                                    pre,
                                    table {
                                        margin-bottom: 2.5em;
                                    }

                                    dt {
                                        font-size: 15px;
                                        min-width: 9px;
                                    }

                                    table th {
                                        font-weight: 600;
                                    }

                                    img {
                                        margin: 2.5em 0;
                                        max-width: 100%;
                                    }
                                    
                                }

                            }
                            
                            .panel-footer {
                                
                                .ticket_status {
                                    height: 50px;
                                    background-color: rgb(245, 247, 249);
                                    
                                    p {
                                        font-weight: 400;
                                        font-size: 15px;
                                        text-transform: none;
                                        font-style: normal;
                                        color: rgb(84, 84, 86);
                                        cursor: inherit;
                                        display: block;
                                        opacity: 1;
                                        line-height: 48px;
                                        padding: 0 15px;
                                    }
                                    
                                    button {
                                        background-color: transparent;
                                        border: 0;
                                        color: rgb(16, 173, 228);
                                        color: #346cb0;
                                        margin-top: 7px;
                                        margin-right: 10px;
                                    }
                                    
                                    .dropdown-menu {
                                        padding: 0;
                                        
                                        a {
                                            
                                            &:hover {
                                                border-bottom: 0;
                                            }
                                            
                                        }
                                        
                                    }
                                    
                                }
                                
                            }

                        }

                    }
                    
                    .comment-form {
                        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        -ms-box-shadow: none;
                        -o-box-shadow: none;
                        box-shadow: none;
                        margin-top: 50px;

                        .comment-form-area {
                            -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.05);
                            box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.05);
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            -ms-border-radius: 4px;
                            -o-border-radius: 4px;
                            border-radius: 4px;
                            float: left;
                            width: 100%;

                            form {
                                float: left;
                                width: 100%;

                                textarea {
                                    background: none repeat scroll 0 0 #fff;
                                    border: medium none;
                                    -webkit-border-radius: 4px 4px 0 0;
                                    -moz-border-radius: 4px 4px 0 0;
                                    -ms-border-radius: 4px 4px 0 0;
                                    -o-border-radius: 4px 4px 0 0;
                                    border-radius: 4px 4px 0 0;
                                    color: #777777;
                                    float: left;
                                    font-family: Lato;
                                    font-size: 14px;
                                    height: 142px;
                                    letter-spacing: 0.3px;
                                    padding: 20px;
                                    width: 100%;
                                    resize: none;
                                    outline: none;
                                    border-bottom: 1px solid #F2F2F2;
                                }
                                
                                .btn {
                                    margin: 10px;
                                }

                            }

                        }

                    }
                    
                    .replies-list {
                        margin-top: 290px;
                        
                        .ticket-replies {
                            
                            .ticket-reply {
                                margin-bottom: 50px;
                                padding: 15px;
                                background-color: #FFFFFF;
                                border: 1px solid #e8e8e8;
                                
                                .reply_img {
                                    width: 10%;
                                    display: inline-block;
                                    vertical-align: top;
                                    
                                    img {
                                        max-width: 70%;
                                        border-radius: 50%;
                                    }
                                    
                                    @media only screen and (max-width: 1199px) {

                                        & {
                                            width: 15%;
                                            
                                            img {
                                                max-width: 50%;
                                            }
                                            
                                        }

                                    }
                                    
                                }
                                
                                .reply {
                                    width: 80%;
                                    display: inline-block;
                                    
                                    h5 {
                                        font-size: 15px;
                                        margin-bottom: 20px;
                                        
                                        span {
                                            font-size: 13px;
                                            color: #bac0c5;
                                            padding-left: 15px;
                                        }
                                        
                                    }
                                    
                                    p {
                                        font-size: 15px;
                                        line-height: 26px;
                                        color: #4B4D4E;
                                    }
                                    
                                }
                                
                            }
                            
                        }
                        
                    }

                }

            }
            
        }
        
    }

}

/*******************************
MODAL STYLES
********************************/

.modal {
    
    .modal-content {
    
        .modal-header {
            padding: 0;
            border: 0;

            nav {
                width: 100%;
                margin-bottom: 15px;
                -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
                box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
                border-bottom: 1px solid $primary-border-black;

                .nav-tabs {
                    border-bottom: 0;

                    .nav-link {
                        color: #999999;
                        font-size: 16px;
                        padding: 15px 25px;
                    }

                    .nav-link.active,
                    .nav-link:hover{
                        border: 1px solid transparent;
                        border-bottom: 1px solid $primary-blue;
                        color: $primary-blue;
                    }

                }

                button {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }

            }

        }

        .modal-body {
            padding: 0;
            
            .tab-pane {
                padding: 15px;
                
                textarea {
                    min-height: 250px;
                    width: 100%;
                    resize: none;
                }                
                
            }

        }

        .modal-footer {
            
            .btn {
                padding: 5px 20px 7px;
                font-size: 14px;
                background-color: #6086bf;
                border-color: #6086bf;
                -webkit-box-shadow: 0 -3px 0px 0px rgba(0,0,0,0.12) inset, inset 0 0 0 1px rgba(0,0,0,0.08);
                box-shadow: 0 -3px 0px 0px rgba(0,0,0,0.12) inset, inset 0 0 0 1px rgba(0,0,0,0.08);

                &:hover {
                    opacity: 0.7;
                }

            }
            
        }
        
    }
    
}