/*******************************
MENU STYLES
********************************/
.user-menu-page {

    .navbar {

        .navbar-header {

            .theme-button-2 {
                display: none;
            }

        }

    }

    .user-delete-menu-item {
        line-height: 28px;

        svg {
            margin-top: -4px;
        }

    }
        
}