/*******************************
DEFAULT MIXINGS FOR BUTTONS GROUP
********************************/

@mixin default-buttons-group {

    .default-buttons-group {

        .btn-group {

            .btn {
                border: 0;
                border: 0;
                line-height: 18px;
                font-family: $default-font-2;
                font-size: 13px;
                font-weight: 400;
                color: $default-color-black;
                background-color: $default-color-grey-light-active;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;  

                &:hover {
                    color: #FFFFFF;
                    background-color: $default-color-black;
                }

            }

        }

    }

}