/*******************************
DEFAULT GLOBAL COLORS
********************************/
$default-color-black: #292F4C;
$default-color-black-light: #4D476B;
$default-color-green: #00C6C1;
$default-color-green-light: #f1f1e6;
$default-color-red: #AE586C;
$default-color-red-light: #FFF5F8;
$default-color-blue: #2E92FA;
$default-color-blue-light: #e5f4ff;
$default-color-yellow: #F9F871;
$default-color-grey: #A9AABC;
$default-color-grey-light: #fafbfd;
$default-color-grey-light-active: #f4f6fb;
$default-color-brown: #857555;
$default-color-brown-light: #fff7d6;
$default-color-violet: #698BF5;
$default-color-violet-light: #F7F8FF;
$default-color-new: #4e9ef4;
$default-border-color: #dde3ee;
$default-input-border-color: #dee2ed;