/*******************************
DEFAULT MIXINGS FOR BUTTONS
********************************/

@mixin default-buttons($model) {

    @if $model == 'default-button-1' {
        
        & {
            padding: 5px 15px;
            border: 0;
            border-radius: .25rem;
            font-family: $default-font-2;
            font-size: 14px;
            font-weight: 600;
            color: $default-color-black;
            background-color: transparent;
            -webkit-box-shadow: inset 0 0 0 1px $default-color-black, 0 1px 2px rgba(38, 41, 44, 0.08);
            box-shadow:  inset 0 0 0 1px $default-color-black, 0 1px 2px rgba(38, 41, 44, 0.08);
        
            &[aria-expanded="true"],
            &:hover {
                color: $default-color-blue;
                background-color: transparent;
                -webkit-box-shadow: inset 0 0 0 1px $default-color-blue, 0 1px 2px rgba(38, 41, 44, 0.08);
                box-shadow:  inset 0 0 0 1px $default-color-blue, 0 1px 2px rgba(38, 41, 44, 0.08);
                opacity: 1 !important;                                
            }

            &:focus,
            &:active {
                color: $default-color-black !important;
                background-color: transparent !important;
                -webkit-box-shadow: inset 0 0 0 1px $default-color-black, 0 1px 2px rgba(38, 41, 44, 0.08) !important;
                box-shadow:  inset 0 0 0 1px $default-color-black, 0 1px 2px rgba(38, 41, 44, 0.08) !important;
            }
        
            i,
            svg {
                vertical-align: middle;
                margin-top: -6px;
                margin-right: 5px;
                width: 20px;
                height: 20px;
                font-size: 18px;
            }

        }

    } @else if $model == 'default-button-2' {

        & {
            padding: 6px 20px 8px;
            border: 0;
            border-radius: .25rem;
            line-height: 19px;
            font-family: $default-font-2;
            font-size: 14px;
            font-weight: 600;
            color: $default-color-black;
            background-color: transparent;        
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

            &[aria-expanded="true"],
            &:hover {
                color: $default-color-black;  
                background-color: $default-color-grey-light-active;
                opacity: 1 !important;                                
            }
        
            i,
            svg {
                vertical-align: middle;
                margin-top: -3.5px;
                margin-right: 5px;
                width: 24px;
                height: 24px;
            }            

        }

    }

}