/*******************************
MEMBERS STYLES
********************************/
section {
    padding-top: 50px;
    
    .container-fluid {
        padding: 0;

        .theme-tabs {

            .nav-tabs {

                .nav-item {

                    .nav-link {

                        svg {
                            margin-top: -3px;
                            font-size: 22px;
                        }

                    }

                }

            }

        }

    }

}