/*******************************
IMPORT FONTS
********************************/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
$open-sans: 'Open Sans', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
$primary-black: #343a40;
$primary-green: #01a28b;
$primary-red: #ea6759;
$primary-blue: #2e5f9b;
$primary-yellow: #f7c48c;
$primary-border-black: rgba(65, 106, 166, 0.1);

/*******************************
MIDRUB ELEMENTS STYLES
********************************/

@mixin opacity-animations($duration) {
    -webkit-animation: loadingOpacity $duration;
    animation: loadingOpacity $duration;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
        
}

@mixin checkbox-option() {
    
    .checkbox-option {
        width: 100%;
        text-align: right;

        input[type=checkbox]{
            display: none;
        }

        input[type=text] {
            height: 35px;
            line-height: 35px;
            width: 100%;
            padding: 0 7px;
            border: 1px solid #c1c7cd;
            color: #1b2733;
            margin-top: 2px;
        }

        label{
            cursor: pointer;
            position: relative; 
            width: 50px;
            margin-right:15px;
            margin-top: 20px;
        }

        label::before{
            content: '';
            background-color: #ced8dc;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            height: 14px;
            margin-top: -6px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 50px;
            margin-left: -45px;
        }

        label::after {
            background-color: #c1c7cd;
            border-radius: 16px;
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

        input[type=checkbox]:checked + label::after {
            left: 40px;
            background-color: $primary-green;
            box-shadow: none;
        }

    }
        
}

@mixin publish-buttons() {
    
    .btn-success{
        height: 36px;
        line-height: 20px;
        background-color: #6086bf;
        border-color: #6086bf;
        font-size: 14px;
        font-family: $open-sans;
        
        i {
            margin-right: 5px;
        }

        &:nth-child(2) {
            border-left: 1px solid #42659a !important;
            width: 40px;
            
            span {
                margin-left: -5px;
            }
            
        }

    }

    .btn-success:hover{
        opacity: 0.8;
    }

    ul {
        margin: 0;
        padding: 0;
        border: 1px solid #e0e6e8;
        border-radius: 0;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        transform: translate3d(22px, -75px, 0px) !important;

        li {
            padding: 0 10px;
            height: 35px;
            font-size: 14px;

            a {
                color: #333333;
                display: block;
                height: 35px;
                line-height: 35px;
                width: 100%;

                &:hover {
                    text-decoration: none;
                    border: 0;
                }

            }

            &:hover {
                background-color: #f7f7f7;
            }

        }

    }
    
    .loadsend {
        display: none;
    }
        
}

/*******************************
TEAMS STYLES
********************************/
        
section {
    transform: scale(0.5);
    @include opacity-animations(0.5s);

    &.teams-page {
        padding: 30px;
        
        .container-fluid {
        
            & > .row > .col-xl-3 {

                & > .col-xl-12 {
                    margin-bottom: 20px;
                    min-height: 60px;
                    border-radius: 3px;
                    padding: 0;
                    
                    .panel-heading {
                        width: 100%;
                        height: 60px;
                        padding: 0 15px;
                        border-bottom: 1px solid $primary-border-black;

                        h3 {
                            line-height: 60px;
                            font-size: 18px;
                            color: $primary-black;

                            i {
                                margin-right: 5px;
                            }

                        }

                        .team-member-roles {
                            height: 40px;
                            width: 40px;
                            text-align: center;
                            line-height: 20px;
                            font-size: 20px;
                            background-color: #ffffff;
                            border: 1px solid $primary-border-black;
                            color: $primary-black;
                            float: right;
                            margin-top: 10px;
                            box-shadow: inset 0 -3px 0 0 $primary-border-black !important;
                            border-radius: 3px;
                            margin-left: 15px;
                            
                            &:hover {
                                color: #333333;
                                border: 1px solid rgba(65, 106, 166, 0.2);
                                box-shadow: inset 0 -3px 0 0 rgba(65, 106, 166, 0.2) !important;
                            }
                            
                            i {
                                margin-right: 0;
                            }

                        }

                    }
                    
                    .panel-body {
                        
                        .list-group-item {
                            border: 0;
                            padding: 15px;
                            
                            textarea {
                                resize: none;
                                min-height: 200px;
                            }
                            
                            .buttons-control {
                                text-align: right;
                                padding-top: 12px;

                                .btn-success{
                                    height: 36px;
                                    background-color: #6086bf;
                                    border-color: #6086bf;
                                    font-size: 14px;
                                    
                                    i {
                                        font-size: 16px;
                                        margin-right: 5px;
                                        float: left;
                                        margin-top: 1px;
                                    }

                                }

                            }
                            
                        }
                        
                    }

                }

            }
            
            & > .row > .col-xl-9 {

                & > .col-xl-12 {
                    
                    .nav-tabs {
                        border-bottom: 1px solid #dee2e6;

                        .nav-link {
                            color: #999999;
                            font-size: 18px;
                            padding: 15px 25px;
                        }

                        .nav-link.active,
                        .nav-link:hover{
                            border: 1px solid transparent;
                            border-bottom: 1px solid $primary-blue;
                            color: $primary-blue;
                        }

                    }
                    
                    .container-fluid {
                        padding: 30px 0;
                    
                        article {

                            figure {
                                border-radius: 3px;
                                padding: 15px;

                                img {
                                    width: 100%;
                                }
                                
                                header {
                                    background-color: transparent;
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                    height: 30px;
                                    padding: 9px 0;
                                    
                                    a {
                                        margin-top: 2px;
                                        display: block;
                                        
                                        &:hover {
                                            border: 0;
                                            opacity: 0.7;
                                        }
                                        
                                    }
                                    
                                }

                            }

                        }
                    
                    }
                    
                }
                
            }
        
        }

    }

}

.modal {
    
    .modal-header {
        padding: 0;
        border: 0;
        
        nav {
            width: 100%;
            margin-bottom: 15px;
            -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
            box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
            border-bottom: 1px solid $primary-border-black;
            
            .nav-tabs {
                border-bottom: 0;

                .nav-link {
                    color: #999999;
                    font-size: 16px;
                    padding: 15px 25px;
                }

                .nav-link.active,
                .nav-link:hover{
                    border: 1px solid transparent;
                    border-bottom: 1px solid $primary-blue;
                    color: $primary-blue;
                }
            
            }
            
            button {
                position: absolute;
                right: 15px;
                top: 15px;
            }

        }
        
    }
    
    .modal-content {
        min-height: 700px;

        
        .modal-body {
            padding: 0;

            .btn-success{
                height: 36px;
                background-color: #6086bf;
                border-color: #6086bf;
                font-size: 14px;

            }

            #nav-member-roles {
                padding: 15px;

                .btn-success {
                    height: auto;
                }

                .card {
                    border: 0;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
                    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
                    background-color: #FFFFFF;
                    line-height: 23px;
                    padding: 0;
                    margin-bottom: 15px;

                    .card-header {
                        background-color: transparent;
                        border: 0;
                        padding: 0;

                        .btn-group {
                            width: 100%;

                            .btn-link {
                                color: #333333;
                                width: 95%;
                                text-align: left;
                                padding: 10px 10px 9px;
                                display: block;
    
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                }
    
                            }

                            .btn-delete-link {
                                color: #333333;
                                background-color: transparent;
                                width: 5%;
                                text-align: center;
                                padding: 10px 10px 9px;
                                display: block;
    
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                }
    
                            }

                        }

                    }

                    .show-roles-options {
                        border-top: 1px solid rgb(240, 240, 240);

                        .card-body {
                            padding: 1.25rem 12px;

                            .nav-pills {

                                .nav-link {
                                    color: #818a91;
                                    margin-bottom: 5px;

                                    i {
                                        color: #818a91;
                                    }

                                    &.active {
                                        color: #343a40;
                                        background-color: #fbfbfb;

                                        i {
                                            color: #343a40;
                                        }

                                    }

                                    &:hover {
                                        border-bottom: 0;
                                    }

                                }

                            }

                            .list-permissions {
                                margin: 0;
                                padding: 0;

                                li {
                                    padding: 15px;
                                    list-style: none;
                                    border-bottom: 1px solid rgba(65, 106, 166, 0.05);
                                    
                                    &:last-child {
                                        border-bottom: 0;
                                    }

                                    h4 {
                                        font-weight: 400;
                                        font-size: 15px;
                                        color: #212529;
                                    }

                                    p {
                                        font-size: 13px;
                                        color: $primary-black;

                                    }
                                    
                                    a {
                                        border: 1px solid #dddddd;
                                        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                                        background-color: #FFFFFF;
                                        color: #343a40;
                                        line-height: 23px;
                                        padding: 7px 10px 6px;
                                        margin-top: 4px;
                                        display: block;
                                        text-align: center;

                                    }

                                    @include checkbox-option();

                                }

                            }

                        }

                    }

                }

            }
            
            .list-group {
                font-size: 15px;
                
                .list-group-item  {
                    margin: 15px;
                    padding: 10px;
                    border-radius: 3px;
                    border: 0;
                    line-height: 23px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
                    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
                    background-color: #FFFFFF;
                    
                    .col-xl-8,
                    .col-xl-5 {
                        color: #343a40;
                    }
                    
                    .col-xl-4 {
                        text-align: right;
                    }
                    
                    .col-xl-7 {
                        line-height: 20px;
                        
                        p {
                            line-height: 25px;
                        }
                        
                    }
                    
                }
                
            }
            
            .update-member-data {
                
                .list-group-item {
                    padding: 20px;
                    
                    textarea {
                        resize: none;
                        min-height: 200px;
                    }

                    .buttons-control {
                        text-align: right;
                        padding-top: 12px;

                    }
                    
                }
                
            }
            
        }
        
    }
    
}