/*******************************
MIDRUB GLOBAL VARIABLES
********************************/
$default-color-black: #343a40;
$default-color-green: #00a28a;
$default-color-red: #ea6759;
$default-color-blue: #0f96e6;
$default-color-yellow: #f7c46c;
$default-border-black: rgba(187,201,213,.6);
$default-shadow-black: 0 1px 1px rgba(0,0,0,.05);

/*******************************
GENERAL STYLES
********************************/

@mixin dropdown-select() {
    
    .btn-secondary.dropdown-toggle {
        display: inline-block;
        padding: 7px 15px 6px;
        width: 100%;
        border: 1px solid #cdcde6;
        border-radius: .25rem;
        line-height: 23px;
        text-align: left;
        font-weight: 400;
        color: #6c757d;
        background-color: #f5f9fd;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
        
        &::after {
            content: "";
            display: inline-block;
            vertical-align: .255em;
            float: right;
            margin-top: 9px;
            margin-left: 10px;            
            width: 0;
            height: 0;
            border-top: .34em solid;
            border-right: .34em solid transparent;
            border-bottom: 0;
            border-left: .34em solid transparent;
        }
        
        &:hover {
            opacity: 0.7;
        }

    }
    
    .dropdown-menu {
        width: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.10);
        box-shadow: none;
        border-radius: .25rem;

        .card {
            border: 0;
            right: 0;
            left: inherit;

            .card-head {

                input[type="text"] {
                    border: 0 !important;
                    border-bottom: solid 1px #e9eaeb !important;
                    height: 45px;
                    width: 100%;
                    padding: 10px;
                    font-size: 15px;
                    margin-bottom: 0;
                    box-shadow: none !important;

                    &:focus,
                    &:active {
                        height: 45px;
                        width: 100%;
                        padding: 10px;                        
                    }

                }
                
            }
            
            .card-body {
                padding: 0;
                
                .list-group {
                    margin: 0;
                    
                    li {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        line-height: 35px;
                        font-family: "Open Sans", sans-serif;
                        font-size: 14px;

                        &.no-results-found {
                            padding: 0 10px;
                        }
                        
                        img {
                            max-width: 20px;
                            margin-right: 15px;
                            border-radius: 50%;
                        }
                        
                        input[type="checkbox"] {
                            float: right;
                            margin-top: 7px;
                            margin-right: 10px;
                            
                            &:after{
                                line-height: 1.5em;
                                content: '';
                                display: inline-block;
                                width: 22px;
                                height: 22px;
                                margin-top: -1px;
                                margin-left: -4px;
                                border: 1px solid silver;
                                border-radius: 0.25em;
                                background: #f9f9f9;
                                position: absolute;
                            }

                            &:checked:after {
                                content: '\2713\0020';
                                padding-left: 3px;
                                padding-top: 2px;
                                font-size: 1.3em;
                                line-height: 0.8;
                                color: #346cb0;
                                transition: all .2s;
                            }
                            
                        }
                        
                    }
                    
                }
                
            }
            
            &:first-child {
                
                .card-body {

                    .card-title {
                        border-top: 0;
                    }
                    
                }
                
            }
            
        }
        
        a {
            margin: 0;
            padding: 0 10px;
            font-size: 14px;
            line-height: 40px;
            display: block;
            width: 100%;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            
            &:hover {
                text-decoration: none;
                background-color: #F5F5F5;
            }
            
        }
        
    }
        
}

a {

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

}

/*******************************
CUSTOM STYLES FOR TRANSACTIONS
********************************/
.admin-page {

    .transaction-header {

        .print-invoice {
            margin-right: 0 !important;
        }

    }

    .transaction-details {

        .transaction-details-area {
            padding: 0;
            margin-bottom: 15px;
            background-color: #ffffff;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            min-height: 200px;
            
            .panel {
                border: 0;
                box-shadow: none;
                
                .panel-heading {
                    margin: 0;
                    padding: 0 15px;
                    background-color: transparent;
                    border-bottom: 1px solid #e3eaef;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 50px;
                    
                    i {
                        margin-right: 5px;
                    }
                    
                    & > a {
                        float: right;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 13px;
                        color: #346cb0;
                        text-decoration: none;
                        
                        &:hover {
                            text-decoration: none;
                            border-bottom: 1px solid #346cb0;
                        }
                        
                    }
                    
                    .nav-tabs {
                        border-bottom: 0;
                        
                        li {
                            border: 0 !important;
                            margin-right: 30px;
                            
                            a {
                                border: 0 !important;
                                color: #ccc;
                                font-size: 14px;
                                padding: 0;
                                line-height: 50px;
                                background-color: transparent !important;
                            }
                            
                            &.active {
                                margin-bottom: auto;
                                
                                a {
                                    color: #777;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
                
                .panel-body {
                    padding: 0;
                    min-height: 300px;

                    .details-list {
                        margin: 0;
                        padding: 0;

                        li {
                            padding: 15px;
                            list-style: none;
                            border-bottom: 1px solid rgba(65, 106, 166, 0.05);
                            
                            &:last-child {
                                border-bottom: 0;
                            }

                            h4 {
                                margin: 0;
                                line-height: 30px;
                                font-weight: 400;
                                font-size: 14px;
                                color: #212529;
                            }

                            span {
                                font-size: 13px;
                                color: $default-color-black;
                                margin-bottom: 0;

                            }
                            
                            a {
                                border: 1px solid #dddddd;
                                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                                background-color: #FFFFFF;
                                color: #6c757d;
                                line-height: 23px;
                                padding: 7px 10px 6px;
                                margin-top: 4px;
                                display: block;
                                text-align: center;
                            }

                            @include dropdown-select();

                            .label-default {
                                font-weight: 400;
                                background-color: #F8F8FC;
                                color: #000031;
                            }
        
                            .label-primary {
                                font-weight: 400;
                                background-color: #eaeef8;
                                color: #000031;
                            }
        
                            .label-danger {
                                font-weight: 400;
                                background-color: #f3ebed;
                                color: #000031;
                            }

                        }

                    }

                }

            }

        }

    }

    .transaction-body {

        .transaction-fields,
        .transaction-options {
            padding: 0;
            margin-bottom: 15px;
            background-color: #ffffff;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            min-height: 200px;
            
            .panel {
                border: 0;
                box-shadow: none;
                
                .panel-heading {
                    margin: 0;
                    padding: 0 15px;
                    background-color: transparent;
                    border-bottom: 1px solid #e3eaef;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 50px;
                    
                    i {
                        margin-right: 5px;
                    }
                    
                    & > a {
                        float: right;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 13px;
                        color: #346cb0;
                        text-decoration: none;
                        
                        &:hover {
                            text-decoration: none;
                            border-bottom: 1px solid #346cb0;
                        }
                        
                    }
                    
                    .nav-tabs {
                        border-bottom: 0;
                        
                        li {
                            border: 0 !important;
                            margin-right: 30px;
                            
                            a {
                                border: 0 !important;
                                color: #ccc;
                                font-size: 14px;
                                padding: 0;
                                line-height: 50px;
                                background-color: transparent !important;
                            }
                            
                            &.active {
                                margin-bottom: auto;
                                
                                a {
                                    color: #777;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
                
                .panel-body {
                    padding: 0;
                    min-height: 300px;

                    .fields-list,
                    .options-list {
                        margin: 0;
                        padding: 0;

                        li {
                            padding: 15px;
                            border-bottom: 1px solid rgba(65, 106, 166, 0.05);
                            list-style: none;
                            font-size: 14px;
                            
                            &:last-child {
                                border-bottom: 0;
                            }

                            h4 {
                                margin-top: 0;
                                font-weight: 400;
                                font-size: 15px;
                                color: #212529;
                            }

                            p {
                                margin-bottom: 0;
                                font-size: 13px;
                                color: $default-color-black;
                            }
                            
                            a {
                                display: block;
                                margin-top: 4px;
                                padding: 7px 10px 6px;
                                border: 1px solid #dddddd;
                                line-height: 23px;
                                text-align: center;
                                color: #6c757d;
                                background-color: #FFFFFF;
                                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                            }

                        }

                    }

                }

            }

        }

    }    

}